 <%
 if @org[:id]=='' || @org[:id]==nil || @org[:id]==0
 	id= Organizer.maximum('id')+1
 else
 	id = @org[:id]
 end		
 %>
 
 <%  
 
 if @org[:theme_id]=='' || @org[:theme_id]==nil || @org[:theme_id]==0
 	@one_theme = Theme.find_first_theme
 	theme_id = @one_theme[:id]
 else 
 	@one_theme = @org
 	theme_id = @one_theme[:theme_id]
 end
 
 %>
 

<script>
	
	
	
/* This submits the primary baseball picture form when the file upload name changes */
$(function() {
  $('.user_picture').live('change', function(event) {
  //	alert("hi");
  
  var chks = document.getElementById('upload_datafile');
  //alert(chks);
  
                if (chks.value=='')
                {
                        check=true;
						var dv = document.getElementById('err1');
						dv.style.clear = "both";
						dv.style.minWidth = "110px";
						dv.style.margin = "5px";
						dv.innerHTML = 'Event Logo is required.';
						dv.style.display='block';
						dv.style.color='#f00';
					  	hasChecked = true;
                        
						return false;
                }
				else 
				{
						
						value = chks.value;
						
						t1 = value.substring(value.lastIndexOf('.') + 1,value.length);
						
						if( t1=='jpg' || t1=='jpeg' || t1=='gif' || t1=='png' || t1=='JPEG' || t1=='JPG'  ||  t1=='PNG' || t1=='GIF')
						{
							document.getElementById('err1').style.display='none';
							check=true;
						}
						else
						{						
							
							
							check=false;
							i=0;
							var dv = document.getElementById('err1');

							dv.style.clear = "both";
							dv.style.minWidth = "110px";
							dv.style.margin = "5px";
							dv.innerHTML = '<%= I18n.t 'user_profile.event_logo_not_valid' %>';
							dv.style.display='block';
							dv.style.color='#f00';
							hasChecked = true;
							
							return false;
							
                    	   
					
					
						}
				
				
						
				}
				
   var chk = filename();
   // jQuery('#next_action').val('');
   // startSpinner($('#picture_file_field_display'),$('#campaign_summary_picture_saving'));
 	
 	if(chk==true){
		$('#progressbar').show();
		$("#picture_file_field_display1").hide();
		$('#edit_user_picture_file').children().remove();
		$(this).prependTo('#edit_user_picture_file').addClass('hidden-file-field');
		
		$('#user_picture').submit();
		$(this).clone(true).prependTo("#picture_file_field_display").removeClass('hidden-file-field');
		
	}
  });
  
});

function filename(name)
{
return true;

}
$(document).ready(function() 
{
// alert("hi");
  // bind form id and provide a simple callback function
 	
  if ((pic = jQuery('#user_picture')).length )
    pic.ajaxForm({dataType: 'json',
      success: onSuccess1,
      error: onError,
      complete: onComplete,
    });
	
  // bind form id and provide a simple callback function
 

 });
 
function onSuccess1(data, textStatus, jqXHR)
{
	 var subcategory_path = "<%= APP_CONFIG['development']['site_url'] %>eventdemo/thumb.php";
        var upload_url = "<%= APP_CONFIG['development']['upload_url'] %>";
        var folder = "org";
        
        var new_img = data.msg.image;
        
        $.ajax({
            type: "POST",
            data: {folder: folder, new_img: new_img, upload_url: upload_url}, 
            url: subcategory_path,
            success: function(data) {
              // alert(data);
             
               
            }
        });
	
	
	$("#picture_file_field_display1").html('<img src="<%= APP_CONFIG['development']['upload_url'] %>data/thumb/org/'+new_img+'" alt="" height="201" width="154"><a href="javascript:" name="remove" id="remove" onclick="remove_image();" style="text-decoration: underline;"> <%= I18n.t 'create_event.rm' %> </a>');
	document.getElementById('org_logo').value=new_img;
	$("#edit_user_picture_file").html('');
	$('#progressbar').hide();
	 $('#picture_file_field_display1 img').show(); 
	$("#picture_file_field_display1").show();
	
}	

function remove_image(){
	var con = confirm('<%= I18n.t 'create_event.rm_logo' %>');
	if(con){
		document.getElementById('upload_datafile').value = '';
	 	$("#picture_file_field_display1").html('<img src="<%= APP_CONFIG['development']['app_url'] %>no_img.png" alt="">');
		document.getElementById('err1').style.display='none';
		document.getElementById('org_logo').value='';
	}	
} 

</script>
 <script type="text/javascript">
	$(document).ready(function(){
		set_change_theme_apply();
	});
	
	function set_org_name(ele){
		if(ele.value==''){
			$('#org_name').html('Unnamed');
		}else{
			var str = ele.value;
			if(str.length > 11){
			}else{
				$('#org_name').html(str);
			}	
		}
	}

 

function set_profile(ele){
	var alphanum=/^[a-zA-Z0-9]+$/;
		var a = ele.value;
				var filter = alphanum;
				//if it's valid email
		
		if(a==''){
			
			$("#changeprofileInfo").text("<%= I18n.t 'user_profile.enter_valid_alpha_numeric' %>");
			$("#changeprofileInfo").addClass("error1");
			return false;
		}
		else if(filter.test(a)){
				
			$("#changeprofileInfo").text("");
			$("#changeprofileInfo").removeClass("error1");
			$("#profile_id").html('<%= APP_CONFIG['development']['site_url'] %>org/'+ele.value);	
		}
		//if it's NOT valid
		else{
			
			$("#changeprofileInfo").text("<%= I18n.t 'user_profile.type_valid_alpha_numeric' %>");
			$("#changeprofileInfo").addClass("error1");
			$("#profile_id").html('<%= APP_CONFIG['development']['site_url'] %>organizers/show/<%= id %>');	
			return false;
		}
}

function change_page(val){
	if(val=='new'){
		window.location = '<%= APP_CONFIG['development']['site_url'] %>users/org';
	}else{
		window.location = '<%= APP_CONFIG['development']['site_url'] %>users/profile/'+val;
	}
}
	</script>
	
	
 
    

<%= form_tag({:controller => 'users', :action => 'org_uploading'}, :id => 'user_picture', :name => 'user_picture', :html => {:multipart => true}) do %> 

  <div class="input-item-file" id="edit_user_picture_file" style="display:none">
  </div>
<% end %>

        	
<%= form_tag({:controller => 'users', :action => 'profile'}, :id => 'orgprofileForm', :name => 'orgprofileForm') do %> 
           
<section>
	<div class="main marTB40 shadow pad15">
    	<div class="pro_btn">
    		 <%  if(@org[:id]!=0 && @org[:id]!='' && @org[:id]!=nil) %>
			      <a href="<%= APP_CONFIG['development']['site_url'] %>organizers/show/<%= @org[:id] %>" target="_blank" class="btn" id="save_btn" style="padding: 16px 20px;"><%= I18n.t 'org_show.show_view' %></a>
			    <% end %>
		      
		      <%= submit_tag (I18n.t 'button.save'), :class => 'submit_btn orgprofileForm', :id => 'submit_btn' %>
		      
        </div>
        <div class="pro_right">
        	<div class="filter_events">
            	<%= I18n.t 'application.my_profile' %> :
            </div>
        	<div class="fr">
                <select name="cardtype" id="cardtype" class="selectbox" onchange="change_page(this.value);">
                <option value="<%= @org[:id] %>" >
                	<% if @org[:name]=='' || @org[:name]==nil %>
		     			<%= I18n.t 'user_profile.unnamed' %>
		     		<% else %>
		     			<%= @org[:name] %>
		     		<% end %>
		     	</option> 
                <% if @organizers.count > 0 %>
					<% for org in @organizers	%>
                		
                		<option value="<%= org[:id] %>" >
                			<% if org[:name]=='' || org[:name]==nil %>
				     			<%= I18n.t 'user_profile.unnamed' %>
				     		<% else %>
				     			<%= org[:name] %>
				     		<% end %>
                		</option> 
                	<% end %>
				<% end %>	
					<option value="new"><%= I18n.t 'user_profile.add_new_org' %></option>          
                </select>
            </div>
        </div>
        <div class="clear"></div>
    </div>    
	
	<% if (@org.errors.full_messages != []) then -%>
	     <ul class="errors marT60" >
	      <% @org.errors.full_messages.each do |t| %>
	  		<li><%= t %></li>
		  <% end %>
	    </ul>
    <% end -%> 
   
   <% if flash[:notice1] -%>
      <div class="notice marT60 main">
      	<p><%= flash[:notice1] %></p>
      </div>

   <% end -%>
   
	
	<div class="main marTB40">
    	<div class="mtitle">
            <h1><%= I18n.t 'user_profile.manage_org' %> <span><%= I18n.t 'user_profile.profile' %></span></h1>
            <span><%= I18n.t 'user_profile.create_single_destination' %></span>
        </div>
        <div class="shadow marT20 pad20 my_profile login_signup">
        	<div class="TW45p fl">
            	<div>
                    <div>
                        <label><%= I18n.t 'user_profile.org_name' %> <span class="red">*</span></label>
                        <input type="text" name="org[name]" class="textbox TW97p" value="<%= @org[:name] %>" placeholder="Unnamed Organizer" id="name" onkeyup="set_org_name(this);" onkeydown="set_org_name(this);" />
                        <div id="orgnameerrInfo"></div>
                    </div> 
                    <div class="marT20">      
                        <label><%= I18n.t 'create_event.upload_logo' %><span class="red">*</span></label>                          
                        <div class="fl upload_img">                      
                            <div class="logo_img fl textcenter" id="picture_file_field_display1">
			                  
			                    <%
						        
						       	image_check = 0
						       	
						       	 if(@org[:org_logo]!=nil)
						            chk_img = check_img(@org[:org_logo],'org','thumb')	
						         	if chk_img!='0' && chk_img!=''
									 
									  image_check = 1
									  %>
									  <img src="<%= APP_CONFIG['development']['upload_url'] %><%= chk_img %>" alt=""  height="201" width="154" />
									  <%
									end
								end
									if image_check==0
										%>
										<img src="<%= APP_CONFIG['development']['app_url'] %>article_img.png" alt="" />
										<%
									end		
										
									
						         %>
			                 </div>
			                  <div id="progressbar" style="display:none;" class="fl"><img src="<%= APP_CONFIG['development']['app_url'] %>fancybox_loading.gif" alt="" /></div>
			                  
                            <div class="file_upload w215" >
                                 <input type="text" placeholder=<%= I18n.t 'create_event.upload_logo' %> id="file_name" onClick="jQuery('#upload_datafile').click()" readonly="readonly" name="file_name" class="browse"/>
			                        <div class="upload" id="picture_file_field_display">
			                            <span> <%= I18n.t 'create.browse' %></span>
			                            <%= file_field 'upload', 'datafile', :class => 'uploads user_picture' %>
			                        </div>
			                        <span> <%= I18n.t 'create_event.your_jpg_gif_png_not_exceed_2mb' %> </span> 
							     
				      <div id="err1" style="display: none;"></div>
      				  <input type="hidden" name="org[org_logo]" id="org_logo" value="<%= @org[:org_logo] %>" />
							     
							                  
                            </div>
                        </div>                
                    </div>                    
                </div>
            </div>
        	<div class="fr width50p">
            	<div>
                    <label><%= I18n.t 'user_profile.about_the_org' %> <span class="red">*</span></label>
                   <%= text_area_tag :description, @org[:description], :name => 'org[description]', :id => 'org_detail', :class => 'ckeditor' %>   
                </div><div id="orgdetailInfo"></div>
                 <br /> 
                  <input type="hidden" name="org[event_desc]" value="0" />
	              <input type="checkbox" name="org[event_desc]" value="1" <% if @org[:event_desc]==1 %> checked="checked" <% end %> />&nbsp;&nbsp;
	              <span> <%= I18n.t 'user_profile.also_use_this_description' %></span>
	              
            </div>
            <div class="clear"></div>
            <div>
                <div class="mtitle marT45 borderB">
                    <h3><%= I18n.t 'user_profile.optional_org_settings' %></h3> 
                    <%= I18n.t 'user_profile.select_info_you_want_to_display' %>           
                </div>
                <div class="TW45p fl">                
                    <label><%= I18n.t 'user_profile.org_info' %>:</label>
                    <div class="organizer_info">                    	
                        <input type="hidden" name="org[show_website]" value="0" />
		                <input type="checkbox" name="org[show_website]" id="show_website" value="1" <% if @org[:show_website]==1 %> checked="checked" <% end %> onclick="if(this.checked){ $('#show_website_div').show(); }else{ $('#show_website_div').hide(); }" />
		                &nbsp;&nbsp;<%= I18n.t 'user_profile.show_my_website' %><br>
		                
		                <div class="marT10" id="show_website_div" style="display: <% if @org[:show_website]==1 %> block; <% else %> none; <% end %>">
		                 <input type="text" name="org[website]" id="website" value="<%= @org[:website] %>" placeholder="http://website.com" class="textbox TW200" />
		                 <div id="websiteInfo" style="margin:0px;"></div>
		                </div><div class="clr"></div>
		                
                       <br /> <input type="hidden" name="org[show_no_event]" value="0" />
                		<input type="checkbox" name="org[show_no_event]" id="show_no_event" value="1" <% if @org[:show_no_event]==1 %> checked="checked" <% end %>  />
                        &nbsp;&nbsp;<%= I18n.t 'user_profile.show_no_of_event_held' %><br>				
                 
                      <br />  <input type="hidden" name="org[show_category]" value="0" />
		                <input type="checkbox" name="org[show_category]" id="show_category" value="1" <% if @org[:show_category]==1 %> checked="checked" <% end %> onclick="if(this.checked){ $('#show_category_div').show(); }else{ $('#show_category_div').hide(); }" />
		                &nbsp;&nbsp;<%= I18n.t 'user_profile.show_top_event_categories' %><br>				
                        
                        <div class="marT10" id="show_category_div" style="display: <% if @org[:show_category]==1 %> block; <% else %> none; <% end %>">
                
		                  <%  @category = Category.parent_category()  %>
			              <select class="selectbox" name="org[category1]" id="category1">
							  <option value="">-- <%= I18n.t 'promote_event_page.select_category' %> --</option>
							  <% for cat in @category %>
							    <option value="<%= cat[:id] %>" <% if(@org[:category1] == cat[:id]) %> selected="selected" <% end %>><%= cat[:category_name] %></option>
							  <% end %>
						  </select>
						   &nbsp;&nbsp;
						   <select class="selectbox" name="org[category2]" id="category2">
							  <option value="">-- <%= I18n.t 'promote_event_page.select_category' %> --</option>
							  <% for cat in @category %>
							    <option value="<%= cat[:id] %>" <% if(@org[:category2] == cat[:id]) %> selected="selected" <% end %>><%= cat[:category_name] %></option>
							  <% end %>
						  </select>
						  
					  
		                 <div id="categoryInfo" style="margin: 0px;"></div>
		                </div>
		                
                       <br /> <input type="hidden" name="org[show_location]" value="0" />
	                 	<input type="checkbox" name="org[show_location]" id="show_location" value="1" <% if @org[:show_location]==1 %> checked="checked" <% end %> onclick="if(this.checked){ $('#show_location_div').show(); }else{ $('#show_location_div').hide(); }" />
	                 	&nbsp;&nbsp;<%= I18n.t 'user_profile.show_top_event_locations' %><br>
                        
                        <div class="marT10" id="show_location_div" style="display: <% if @org[:show_location]==1 %> block; <% else %> none; <% end %>">
	                        <input type="text" class="textbox" name="org[city1]" id="city1" value="<%= @org[:city1] %>" placeholder=<%= I18n.t 'place.type_city_name'%> />
			                 &nbsp;&nbsp;<input type="text" class="textbox" name="org[city2]" id="city2" value="<%= @org[:city2] %>" placeholder=<%= I18n.t 'place.type_city_name'%> />
						  	<div id="cityInfo" style="margin: 0px;"></div>
                        </div>
                    </div>
                </div>                
                <div class="TW45p fr">
                    <label><%= I18n.t 'user_profile.event_info' %>:</label>
                    <div class="organizer_info">                    	
                        <input type="hidden" name="org[display_event]" value="0" />
		                <input type="radio" name="org[display_event]" value="1" id="display_event1" <% if @org[:display_event]!=2 %> checked="checked" <% end %> />
		                &nbsp;&nbsp;<%= I18n.t 'user_profile.display_only_events_this_org' %><br>
		                
                       <br /> <input type="radio" name="org[display_event]" value="2" id="display_event2" <% if @org[:display_event]==2 %> checked="checked" <% end %> />
                		&nbsp;&nbsp;<%= I18n.t 'user_profile.display_all_my_events' %><br>	
                    </div>
                    
                    <% if @events %>	
	                	<% if @events.count>0 %>	
			                 <div>
			                 <label><%= I18n.t 'user_profile.featured_event' %> : </label>
			                   <select class="selectbox  TW200" name="org[featured_id]" id="featured_id">
								  <option value="">-- <%= I18n.t 'user_profile.select_event' %> --</option>
								  <% for eve in @events %>
								    <option value="<%= eve[:id] %>" <% if(@org[:featured_id] == eve[:id]) %> selected="selected" <% end %>><%= eve[:event_title] %></option>
								  <% end %>
							  </select>
							  
			                </div>
	                	<% end %>
	                <% end %>
                    
                    <div id="orig_profile"  class="organizer_url marT10">
			             <label><%= I18n.t 'user_profile.org_page_url' %>:</label>
			             <% if @org[:page_url]=='' || @org[:page_url]==nil 
			             		page_url = APP_CONFIG['development']['site_url']+'organizers/show/'+id.to_s 
			             	else
			             		page_url = APP_CONFIG['development']['site_url']+'org/'+@org[:page_url]
			             	end		
			             %>
			             <a href="<%= page_url %>" target="_blank" id="profile_id"><%= page_url %> </a> 
			             [<strong><a href="javascript:" onclick="$('#change_profile').show(); $('#orig_profile').hide();"><%= I18n.t 'user_profile.profile_change' %></a></strong>]
			              
			         </div>  
			            
                    <div id="change_profile" style="display: none;" class="marT10">
            	    	<span class="create_span"><%= APP_CONFIG['development']['site_url'] %>org/</span> 
					    <%= text_field_tag :page_url, @org[:page_url], :class => 'textbox', :name => 'org[page_url]', :id => 'page_url',  :onkeyup => 'set_profile(this);', :onkeydown => 'set_profile(this);' %>
					    [<strong><a href="javascript:" onclick="$('#change_profile').hide(); $('#orig_profile').show();"><%= I18n.t 'button.cancel' %></a></strong>] 
					    <div id="changeprofileInfo"></div>	    
		            </div>
		            
                </div>
                <div class="clear"></div>
                <div class="mtitle marT45 borderB">
                    <h3><%= I18n.t 'user_profile.promote_your_profile' %></h3> 
                    <%= I18n.t 'user_profile.quickly_install_button' %>           
                </div>                
                <div class="TW45p fl">
                	<label><%= I18n.t 'user_profile.choose_button' %></label><br />
                    <input type="radio" name="org[org_icon]" id="org_icon1" value="0" <% if @org[:org_icon]==0 %> checked="checked" <% end %> onclick="set_embed_link('small');" />
                    &nbsp;&nbsp;<img src="<%= APP_CONFIG['development']['app_url'] %>themes/bl1.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <input type="radio" name="org[org_icon]" id="org_icon2" value="1" <% if @org[:org_icon]==1 %> checked="checked" <% end %>  onclick="set_embed_link('medium');" />
                    &nbsp;&nbsp; <img src="<%= APP_CONFIG['development']['app_url'] %>themes/bl2.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <input type="radio" name="org[org_icon]" id="org_icon3" value="2" <% if @org[:org_icon]==2 %> checked="checked" <% end %>  onclick="set_embed_link('large');" />
                    &nbsp;&nbsp;<img src="<%= APP_CONFIG['development']['app_url'] %>themes/bl3.png" />
                </div>
     <script>
		function selectall()
		{ 
		
			var text_val=document.getElementById('copypath');
			
			text_val.focus();
			
			text_val.select();
			
			if (!document.all) return; // IE only
			
			r= text_val.createTextRange();
			
			r.execCommand('Copy');
			
		}
		
function set_embed_link(val){
	if(val=='small'){
		$('#copypath').val('<a href="<%= page_url %>" target="_blank"><img src="<%= APP_CONFIG['development']['app_url']+'themes/bl1.png' %>" /></a>');
	}
	
	if(val=='medium'){
		$('#copypath').val('<a href="<%= page_url %>" target="_blank"><img src="<%= APP_CONFIG['development']['app_url']+'themes/bl2.png' %>" /></a>');
	}
	
	if(val=='large'){
		$('#copypath').val('<a href="<%= page_url %>" target="_blank"><img src="<%= APP_CONFIG['development']['app_url']+'themes/bl3.png' %>" /></a>');
	}
}
	</script>   
<%
	if @org[:org_icon]==1
		img = 'bl1.png'
	elsif @org[:org_icon]==2
		img = 'bl2.png'
	else
		img = 'bl3.png'
	end			
 %>
                            
                <div class="TW45p fr pr">
                	<label><%= I18n.t 'user_profile.profile_copy' %> &amp; <%= I18n.t 'user_profile.paste_this_code_on_website' %></label>
                    <textarea id="copypath" style="width:97%; height:75px;" readonly="readonly"><a href="<%= page_url %>" target="_blank"><img src="<%= APP_CONFIG['development']['app_url']+img %>" /></a></textarea>
                    
                    <a href="javascript:" onclick="selectall()" class="copy"></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="mtitle marT40">
            <h1><%= I18n.t 'user_profile.add_social_network_profile' %></h1>
        </div>
        <div class="shadow marT20 pad20 login_signup">
        	<label class="marB15"><%= I18n.t 'user_profile.integrate_social_networking_feed_in_profile' %>:</label>
        	<div class="clear"></div>
        	<div class="TW45p fl">                
                
                <div class="organizer_info">                    	
                    <input type="hidden" name="org[add_facebook]" value="0" />
                 	<input type="checkbox" name="org[add_facebook]" id="add_facebook" value="1" <% if @org[:add_facebook]==1 %> checked="checked" <% end %> onclick="if(this.checked){ $('#add_facebook_div').show(); }else{ $('#add_facebook_div').hide(); }" />
                    &nbsp;&nbsp;<%= I18n.t 'user_profile.fb_page_link' %><br>                    
                </div>
                
                <div id="add_facebook_div" style="display: <% if @org[:add_facebook]==1 %>block; <% else %> none; <% end %>">
	               <br /> <span ><%= I18n.t 'create_event.facebook_com' %></span> 
	                <input type="text" name="org[facebook_link]" class="textbox" id="facebook_link" value="<%= @org[:facebook_link] %>" >
	                <div id="facebookInfo"></div>
                </div>
                
            </div>
            <div class="TW45p fr">                
               <div class="organizer_info">                    	
                    <input type="hidden" name="org[add_twitter]" value="0" />
                 <input type="checkbox" name="org[add_twitter]" id="add_twitter" value="1" <% if @org[:add_twitter]==1 %> checked="checked" <% end %> onclick="if(this.checked){ $('#add_twitter_div').show(); }else{ $('#add_twitter_div').hide(); }" />
                    &nbsp;&nbsp;<%= I18n.t 'user_profile.add_my_twitter_username' %>                
                </div>
                
                <div style="display: <% if @org[:add_twitter]==1 %>block;<% else %> none; <% end %>" id="add_twitter_div">
                   <br /><ul class="inner marL30">
	                      <li>
	                        	<input type="hidden" name="org[add_username]" value="0" />
	                 			<input type="checkbox" name="org[add_username]" id="add_username" value="1" <% if @org[:add_username]==1 %> checked="checked" <% end %> onclick="if(this.checked){ $('#add_username_div').show(); $('#add_search_div').hide(); $('#add_search').removeAttr('checked'); }else{ $('#add_username_div').hide(); }" />
	                  			&nbsp;&nbsp;<%= I18n.t 'user_profile.user_name' %>
	                      </li>
                      
                      
                         <li id="add_username_div" style="display: <% if @org[:add_username] == 1 %>block;<% else %> none; <% end %>">
                         	 <br /><span><%= I18n.t 'create_event.twitter_com' %></span> 
                         	<input type="text" name="org[twitter_link]" id="twitter_link" value="<%= @org[:twitter_link] %>" class="textbox" />
                  		 </li>
                        
                         <li>
							
                 			<br /><input type="checkbox" name="org[add_username]" id="add_search" value="2" <% if @org[:add_username]==2 %> checked="checked" <% end %> onclick="if(this.checked){ $('#add_search_div').show(); $('#add_username_div').hide(); $('#add_username').removeAttr('checked');  }else{ $('#add_search_div').hide(); }" />
                  			&nbsp;&nbsp;<%= I18n.t 'user_profile.search_query' %> 
		                 </li>
                 
	                    <li id="add_search_div" style="display: <% if @org[:add_username]==2 %> block; <% else %> none; <% end %>">
	                   	   <br /><span><%= I18n.t 'create_event.twitter_com' %></span> 
	                   	  <input type="text" name="org[search_link]" id="search_link" value="<%= @org[:search_link] %>" class="textbox" />
	                  </li>
                      
                   </ul><div id="twitterInfo" style="margin-let: 8%;"></div>
                 </div>
            </div>
            <div class="clear"></div>
        </div>
   
 <%  @theme = Theme.all %>      
<script type="text/javascript">
 	function set_org_theme(val){
		
		//alert(val);
		document.getElementById('org_theme_id').value = val;
		//theme_sel_
		 $(".theme_main").removeClass("selected");
		 $("#theme_sel_"+val).addClass("selected");
		 
	        var theme_path = '/users/change_org_theme/';
	        var theme_id = val;
	        $.ajax({
	            type: "GET",
	            data: {theme_id: theme_id}, 
	            url: theme_path+theme_id,
	            success: function(data) {
	             //  alert(data);
	                $(".change_org_theme").html(data);
	                set_change_theme_apply();
	                
	
	
	            }
	        });
	        
	    
	}
	 
	 
	function set_submit_type(type){
		document.getElementById('submit_type').value = type;
		
	}
   
</script> 
       
        <div class="mtitle marT45">
            <h1><%= I18n.t 'user_profile.customize_profile_colors' %></h1>
        </div>
        <div class="shadow marT20">
            	<div class="responsive-tabs">
            		 <input type="hidden" name="org[theme_id]" id="org_theme_id" value="<%= theme_id %>" />
                    <h2><%= I18n.t 'user_profile.choose_template' %></h2>
                    
                    <div>                    	
                    	<ul id="foo2" class="elastislide-horizontal">
                            <%   i=0
                 				for th in @theme %>
                            	<li class="TW150 fl"  id="change_theme_<%= th[:id] %>">
                            		    <div class="theme_main <% if(th[:id]==theme_id) %> selected <% end %>" style="background: <%= th[:background] %>; " id="theme_sel_<%= th[:id] %>">
									        <div class="theme_head" style="background: <%= th[:event_title] %>; "></div>
									        <div class="table_class" style="background: <%= th[:box_background] %>;border-color:<%= th[:box_border] %>;">
									            <div class="table_head" style="background:<%= th[:box_header] %>; border-bottom: 1px solid <%= th[:box_border] %>;"><h2 style="background: <%= th[:header_text] %>; ">
									                <h2 style="background: <%= th[:header_text] %>; "></h2> 
									                <div class="clr"></div>
									            </div>
									            <table width="100%" cellspacing="3px">
									                <tr><td style="background: <%= th[:body_text] %>; "></td></tr>
									                <tr><td style="background: <%= th[:body_text] %>; "></td></tr>
									                <tr><td style="background: <%= th[:body_text] %>; "></td></tr>
									                <tr><td style=" width: 30%; background: <%= th[:body_text] %>; "></td></tr>
									            </table>    
									        </div>        
									    </div>
									
									<script>
									
										if (navigator && navigator.userAgent && navigator.userAgent != null)
										{
											var strUserAgent = navigator.userAgent.toLowerCase();
											var arrMatches = strUserAgent.match(/(iphone|ipod|ipad)/);//alert(strUserAgent);
											if (arrMatches)
											{//alert(strUserAgent);
												$("#theme_sel_<%= th[:id] %>").unbind("touchstart").on('touchstart', function () {
												//alert("iphone");
												set_org_theme('<%= th[:id] %>');
											});
											
											}
											else
											{
												$("#theme_sel_<%= th[:id] %>").unbind("click").click( function () {
												//alert("click 1");
													set_org_theme('<%= th[:id] %>');
												});
											}
										}
										else
										{
											$("#theme_sel_<%= th[:id] %>").unbind("click").click(function () {
												//alert("click 2");
												set_org_theme('<%= th[:id] %>');
											});
										}
			
									</script> 
                            	</li>
                            <% end %>
                            
                        </ul>
                        
                             
                        <div class="clear"></div>
						<a id="prev2" class="prev" href="#">&lt;</a>
						<a id="next2" class="next" href="#">&gt;</a>
						<div id="pager2" class="pager"></div>
						                      
                    </div>        
                    <h2><%= I18n.t 'user_profile.choose_custom_colors_bg' %></h2>
                    <div class="content_active change_org_theme" id="change_org_theme">
                    	<%= render(:partial => "change_org_theme" , :object => :collection) %>
                    	   
                    </div>         
                    <h2><%= I18n.t 'user_profile.advanced' %></h2>
                    <div>
                    	<div class="organizer_info login_signup"> 
                            <label><%= I18n.t 'user_profile.color_display_options' %>:</label><br />                   	
                            <input type="radio" name="org[color_display]" id="color_display1" value="0" <% if @org[:color_display]==0 %> checked="checked" <% end %> >
                            &nbsp;&nbsp;<%= I18n.t 'user_profile.always_apply_selected_page_colors' %><br>
                 
                            <input type="radio" name="org[color_display]" id="color_display2" value="1" <% if @org[:color_display]==1 %> checked="checked" <% end %> >
                            &nbsp;&nbsp;<%= I18n.t 'user_profile.apply_my_event_page_to_visiting_page' %><br>	
                        </div>    
                    </div> 
                </div>
            </div>
            
            <input type="hidden" name="org_id" id="org_id" value="<%= @org[:id] %>" />
	        <input type="hidden" name="org[user_id]" id="user_id" value="<%= session[:user_id] %>" />
	        <input type="hidden" id="submit_type" name="submit_type" value="" />
	        
	        <%  if(@org[:id]!=0 && @org[:id]!='' && @org[:id]!=nil) %>
		      <a href="<%= APP_CONFIG['development']['site_url'] %>organizers/show/<%= @org[:id] %>" target="_blank" class="btn fr marT20 marL10 black_bg" style="padding: 16px 20px;"><%= I18n.t 'org_show.show_view' %></a>
		    <% end %>
	      
	      <%= submit_tag (I18n.t 'button.save'), :class => 'submit_btn fr marT20 orgprofileForm' %>
	      <div class="clear"></div>
    </div>    
</section>


<% end %>

<script type="text/javascript" language="javascript" src="<%= APP_CONFIG['development']['js_url'] %>jquery.carouFredSel-6.2.0-packed.js"></script>

	

<script src="<%= APP_CONFIG['development']['js_url'] %>js/validation.js" type="text/javascript"></script>   

<script src="<%= APP_CONFIG['development']['js_url'] %>js/ckeditor/ckeditor.js"></script>