<% @act_class = 'Orders' %> 
<%= render(:partial => "/manage_event/common_banner" , :object => :collection) %> 

 <%  
 	@country = Country.find_all_country()
 	@site = SiteSetting.find(:first) 
 
 %>
<style>
	.form label{
		text-align: left;
		width: 35%;
		margin-top: 20px;
	}
</style>
<section>
	<div class="main">
		 <% if flash[:notice] -%>
		      <div class="errors" style="margin: 0px;">
		      	<p><%= flash[:notice] %></p>
		      </div>
		
		   <% end -%>                   
		
    	<div class="leftcol">
            
            <div class="mtitle marT40">
            	<h3><%= I18n.t 'event.view.contact'%> <span><%= I18n.t 'event.view.information'%></span></h3>
            </div>
            <div class="shadow marT10 pad20">
            	<div class="form">
                	<label><%= I18n.t 'place.prefix'%></label>
                	<label><%= @order[:prefix] %></label>
                    
                    
                	<label><%= I18n.t 'action.first_name'%> </label>
                	<label><%= @order[:first_name] %></label>
	                 
                	<label><%= I18n.t 'action.last_name'%> </label>
                	<label><%= @order[:last_name] %></label>
	               
	                <label><%= I18n.t 'user.suffix'%></label>
	                <label><%= @order[:suffix] %></label>
	                 
	                <label><%= I18n.t 'user.email'%> </label>
	                <label><%= @order[:email] %></label>
	               
	                <label><%= I18n.t 'user.home_phone'%></label>
	                <label><%= @order[:home_phone] %></label>
	               
	                
	                <label><%= I18n.t 'user.cell_phone'%></label>
	                <label><%= @order[:cell_phone] %></label>
	                
                </div>
                <div class="clear"></div>
            </div>
            
                      

            <div class="mtitle marT40">
            	<h3><%= I18n.t 'user.add'%></h3>
            </div>
            <div class="shadow marT10">
            	<div class="responsive-tabs">
                    <h2><%= I18n.t 'user.home_add'%></h2>
                    <div>                    	
                    	<div class="form">
		                	
		                	  <label><%= I18n.t 'user.add'%></label>
		                	  <label><%= @order[:home_add1] %></label>
		                     
		                      <label><%= I18n.t 'user.add2'%></label>
		                      <label><%= @order[:home_add2] %></label>
		                      
		                      <label><%= I18n.t 'user.country'%></label>
		                      <label><%= @order[:home_country] %></label>
		                      
		                      <label><%= I18n.t 'user.state'%></label>
		                      <label><%= @order[:home_state] %></label>
		                      
		                   	  <label><%= I18n.t 'user.city'%></label>
		                   	  <label><%= @order[:home_city] %></label>
		                      
		                      <label><%= I18n.t 'user.zip'%></label>
		                      <label><%= @order[:home_zip] %></label>
		                      
		                </div> 
                    	<div class="clear"></div>                          
                    </div>
                            
                    <h2><%= I18n.t 'user.bill_add'%></h2>
                    <div>
                    	<div class="form">
		                	  <label><%= I18n.t 'user.add'%></label>
		                	  <label><%= @order[:bill_add1] %></label>
		                      
		                      <label><%= I18n.t 'user.add2'%></label>
		                      <label><%= @order[:bill_add2] %></label>
		                       
		                      <label><%= I18n.t 'user.country'%></label>
		                      <label><%= @order[:bill_country] %></label>
		                      
		                      <label><%= I18n.t 'user.state'%></label>
		                      <label><%= @order[:bill_state] %></label>
		                      
		                   	  <label><%= I18n.t 'user.city'%></label>
		                   	  <label><%= @order[:bill_city] %></label>
		                      
		                      <label><%= I18n.t 'user.zip'%></label>
		                      <label><%= @order[:bill_zip] %></label>
		                      
		                </div> 
                    	<div class="clear"></div>   
                    </div>         
                    
                    <h2><%= I18n.t 'user.ship_add'%></h2>
                    <div>
                    	<div class="form">
		                	  <label><%= I18n.t 'user.add'%></label>
		                	  <label><%= @order[:ship_add1] %></label>
		                       
		                      
		                      <label><%= I18n.t 'user.add2'%></label>
		                      <label><%= @order[:ship_add2] %></label>
		                      
		                      
		                      <label><%= I18n.t 'user.country'%></label>
		                      <label><%= @order[:ship_country] %></label>
		                      
		                      <label><%= I18n.t 'user.state'%></label>
		                      <label><%= @order[:ship_state] %></label>
		                      
		                   	  <label><%= I18n.t 'user.city'%></label>
		                   	  <label><%= @order[:ship_city] %></label>
		                      
		                      <label><%= I18n.t 'user.zip'%></label>
		                      <label><%= @order[:ship_zip] %></label>
		                           
		                       
		                </div>   
                    	<div class="clear"></div> 
                    </div>
                           
                </div>
            </div>
            
                     
            <div class="mtitle marT40">
            	<h3><%= I18n.t 'event.view.information'%></h3>
            </div>
            <div class="shadow marT10">
            	<div class="responsive-tabs">
                    <h2><%= I18n.t 'purchases_show.work_info'%></h2>
                    <div>                    	
                    	<div class="form">
                            
                              <label><%= I18n.t 'user.job'%></label>
                              <label><%= @order[:work_job_title] %></label>
		                      
		                      <label><%= I18n.t 'user.company'%></label>
		                      <label><%= @order[:work_company] %></label>
		                       
		                      <label><%= I18n.t 'user.add'%></label>
		                      <label><%= @order[:work_add1] %></label>
		                      
		                      <label><%= I18n.t 'user.add2'%></label>
		                      <label><%= @order[:work_add2] %></label>
		                      
		                      <label><%= I18n.t 'user.country'%></label>
		                      <label><%= @order[:work_country] %></label>
		                      
		                      <label><%= I18n.t 'user.state'%></label>
		                      <label><%= @order[:work_state] %></label>
		                      
		                      <label><%= I18n.t 'user.city'%></label>
		                      <label><%= @order[:work_city] %></label>
		                      
		                      <label><%= I18n.t 'user.zip'%></label>
		                      <label><%= @order[:work_zip] %></label>
		                     
		                      <label><%= I18n.t 'purchases_show.phone'%></label>
		                      <label><%= @order[:work_phone] %></label>
		                      
		                      <label><%= I18n.t 'user.blog'%></label>
		                      <label><%= @order[:work_blog] %></label>
		                      
		                      <label><%= I18n.t 'user.website'%></label>
		                      <label><%= @order[:work_website] %></label>
		                      
                            
                        </div> 
                    	<div class="clear"></div>                          
                    </div>        
                    
                    <h2><%= I18n.t 'user.other'%></h2>
                    <div>
                    	<div class="form">
                            <label><%= I18n.t 'user.gender'%></label>
                            <label><%= @order[:gender] %></label>
                      		
                      		<% if @order[:birth_date]!='' && @order[:birth_date]!=nil %>
		                     <label><%= I18n.t 'user.bdate'%></label> 
		                     <label><%= @order[:birth_date].strftime(@site[:date_format]) %></label>
			                <% end %>      
							       
                        </div> 
                    	<div class="clear"></div>   
                    </div>      
                    </div>
            </div>
             
        </div>
  
    	
    	<%= render(:partial => "/manage_event/manage_event_sidebar" , :object => :collection) %>
		<div class="clear"></div>
        </div>
           <div class="clear"></div>
   
</section>
<% @edit_menu_class = 'Manage' %>
<%= render(:partial => "/manage_event/edit_menu" , :object => :collection) %> 
<div class="clear "></div>