		</div>
    </div>
</header>
<script src="<%= APP_CONFIG['development']['js_url'] %>js/validation.js" type="text/javascript"></script>   



<% @fb = FacebookSetting.find(:first) %>	
<div  id="fb-root"></div>
<script type="text/javascript">
window.fbAsyncInit = function() {
	FB.init({appId: '<%= @fb[:facebook_application_id] %>', status: true, cookie: true, xfbml: true});
	 
	            /* All the events registered */
	            FB.Event.subscribe('auth.login', function(response) {
	    			// do something with response
	             //   login();
	        	});
	
	            FB.Event.subscribe('auth.logout', function(response) {
	            // do something with response
	               // logout();
	          	});
	   		};
	
	        (function() {
		        var e = document.createElement('script');
	            e.type = 'text/javascript';
	            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		        e.async = true;
	            document.getElementById('fb-root').appendChild(e);
	   	 	}());
	 
	        function login(){
	        	//document.location.href = "<?php // echo $data['base_url']; ?>";
	        	//alert('hi');
	     	}
	
	        function logout(){
	        	//document.location.href = "<?php //echo $data['base_url']; ?>";
	        	//alert('hello');
	 		}
		</script>
		

<div class="clear"></div>
<div class="min_height">
<div id="dvLoading" ></div> </div>
<div class="min_height" id="mainbg_div" style="display: none;">	 
<section>
	
	
       
	<div class="main marTB60">
		<% if flash[:notice] -%>
      <ul class="errors">
      	<li><%= flash[:notice] %></li>
      </ul>

	 <% end -%>
	   
       
       
    	<%= form_tag({:controller => 'home', :action => 'set_new_password'}, :id => 'resetForm') do %>
    	<div class="leftcol">
        	<div class="mtitle">
            	<h1><%= I18n.t 'set_new_password.reset'%> <span><%= I18n.t 'facebook_login.pwd'%></span></h1>
            </div>
            <div class="shadow marT20 pad20">            	
        	        <div class="login_signup">
                        <div>
                            <label><%= I18n.t 'set_new_password.new_pwd'%></label>
                            <%= text_field_tag :password, params[:password], :class => 'textbox TW97p', :type => 'password', :name => 'user[password]' %>
                            <div id="passInfo" ></div>
                        </div>
                        
                        <div>
                            <label><%= I18n.t 'set_new_password.confirm_pwd'%></label>
                            <%= text_field_tag :cpassword, params[:cpassword], :class => 'textbox TW97p', :type => 'password' %>
                             <div id="cpassInfo" ></div>
                        </div>
                        
                        <div class="marT15">
                            <div class="fr"><a href="<%= APP_CONFIG['development']['site_url'] %>home/login"><%= I18n.t 'forgot_pwd.back_to_login'%></a></div>
                            <div class="clear"></div>
                        </div>
                        <div class="marT20 fr">
                            <%= submit_tag "Reset", :class => 'submit_btn', :id => 'resetbtn' %>
                        </div>
                        <div class="clear"></div>
                    </div>                        
             </div>
        </div>
        
        <% end %>
        <div class="rightcol">
        	<div class="mtitle">
            	<h1><%= I18n.t 'forgot_pwd.forgot_log_in'%> <span><%= I18n.t 'forgot_pwd.forgot_using'%></span></h1>
            </div>
            <div class="shadow login_using">
            	<div class="login_facebook">
                    <span><%= I18n.t 'forgot_pwd.log_in_with'%> <em><%= I18n.t 'invite_create.facebook'%></em></span>
                    <a href="javascript://" class="cfacebook"><img src="<%= APP_CONFIG['development']['app_url'] %>icon-facebook.png" /> <span><%= I18n.t 'event.view.connect_with_facebook'%></span></a>
                </div>
                <div class="or"><%= I18n.t 'set_new_password.or'%></div>
            	<div class="login_twitter">
                    <span><%= I18n.t 'forgot_pwd.log_in_with'%><em><%= I18n.t 'invite_create.twitter'%></em></span>
                    <a href="javascript://" class="ctwitter"><img src="<%= APP_CONFIG['development']['app_url'] %>icon-twitter.png" /> <span><%= I18n.t 'forgot_pwd.connect_with_twitter'%></span></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>    
</section></div>
</div>
