<%
	free_tickets = Ticket.get_free_ticket(@event[:id])
	paid_tickets = Ticket.get_paid_ticket(@event[:id])
	donation_tickets = Ticket.get_donation_ticket(@event[:id])	
%>

<% @site = SiteSetting.find(:first) %>
<%  
   	 @event_theme = EventTheme.one_theme(@event[:id])
		 if @event_theme
		 else @event_theme = Theme.find_first_theme
		 	 
		 end
		 
   	if @one_theme
	else 	
   		@one_theme = @event_theme
 	end
   %>
 

<%
	@back = @one_theme[:background]
	@title = @one_theme[:event_title]
	@head_text = @one_theme[:header_text]
	@box_back = @one_theme[:box_background]
	@body_text = @one_theme[:body_text]
	@box_border = @one_theme[:box_border]
	@link = @one_theme[:links]
	@box_head = @one_theme[:box_header]
%>
<style>
	@media (max-width: 768px) {
		.ticket td:nth-of-type(1):before { content: "<%= I18n.t 'event.view.ticket_title' %>"; font-weight:bold; }
		.ticket td:nth-of-type(2):before { content: "<%= I18n.t 'event.view.sales_end' %>"; font-weight:bold; }
		.ticket td:nth-of-type(3):before { content: "<%= I18n.t 'event.view.price' %>"; font-weight:bold; }
		.ticket td:nth-of-type(4):before { content: "<%= I18n.t 'event.view.fee' %>"; font-weight:bold; }
		.ticket td:nth-of-type(5):before { content: "<%= I18n.t 'event.view.available' %>"; font-weight:bold; }
		.ticket td:nth-of-type(6):before { content: "<%= I18n.t 'event.view.qty' %>"; font-weight:bold; }
	}	
</style>
<style>
	
	#event_theme_page_change{
		color: <%= @body_text %>;
		background: <%= @back %>;
	}
	
	#event_theme_page_change .headerblank, #event_theme_page_change .ticket_article{
		border-bottom: 10px solid <%= @box_head %>;
	}
	
	#event_theme_page_change .ticket_article{
		background: <%= @box_back %>;	
	}
	
	#event_theme_page_change .mtitle h1{
		color: <%= @head_text %>;
	}
	
	#event_theme_page_change .mtitle h1 span, #event_theme_page_change .mtitle h2 span, #event_theme_page_change .event_detail span, #event_theme_page_change .organizer h4{
		color: <%= @box_head %>;
	}
	
	
	#event_theme_page_change .event_detail, #event_theme_page_change .article_shadow, #event_theme_page_change .article_shadow img, #event_theme_page_change .shadow  {
		background: <%= @box_back %>;	
		
	}
	
	#event_theme_page_change .res-mtitle h1{
		color: <%= @title %>;
	}
	
	#event_theme_page_change .event_detail a, #event_theme_page_change .event_detail a:visited, #event_theme_page_change .shadow a, #event_theme_page_change .shadow a:visited,#event_theme_page_change .organizer a, #event_theme_page_change .organizer a:visited, #event_theme_page_change a.profile {
		color: <%= @link %>;
	}
	
	#event_theme_page_change .table th, #event_theme_page_change a.btn, #event_theme_page_change .save_event, #event_theme_page_change .save_event a{
		background: <%= @box_head %>;
		color: <%= @head_text %>;
	}
	
	#event_theme_page_change .posrel{
		width: 103%;
	}
	#event_theme_page_change .posrel .table_selectbox{
		width: 100%;
		height: 43px;
		line-height: 34px;
		padding: 11px 1.5%;
	}
	
	#event_theme_page_change .event_detail h3 {
		color: <%= @box_head %>;
		text-decoration: underline;
	}
	
	#event_view_page_theme .event_detail,#event_view_page_theme  .shadow{
		box-shadow: none;
		border: 1px solid <%= @box_border %>;
	}
</style>
<div id="event_view_page_theme">  
<section  id="event_theme_page_change"  style="padding: 30px 0px;">
	
	<div class="main pad7" id="header_text_html">
		<% if @event_theme 
 			if @event_theme[:header_text_display]!=nil && @event_theme[:header_text_display]!=''
 		%>
 			<%= render :inline => @event_theme[:header_text_display] %>
 		<% 
 			end
 		end %>
	</div>
	

		<div class="main pad7">
			<div class="header">
		    	<div class="ticket_article shadow">                	
		             <div class="fr article_right pad3 min_img_size">
		             	<%
		        # @event[:event_logo]= 'logo_052713ccaa_Desert.jpg'
		       	#image_check = image_tag('demo_image.png')
		       	image_check = 0
		       	
		       	 if(@event[:event_logo]!=nil)
		            img_full_path = check_img(@event[:event_logo],'event','thumb')	
		         	if img_full_path!='0' && img_full_path!='' 
					  image_check = 1
					  %>
					  <img src="<%= APP_CONFIG['development']['upload_url'] %><%= img_full_path %>" alt="<%= @event[:event_title] %>" />
					  <%
					end
				end
					if image_check==0
						%>
						<img src="<%= APP_CONFIG['development']['app_url'] %>demo_image.png" alt="<%= @event[:event_title] %>" />
						<%
					end		
						
					
		         %>
		             	<div class="article_shadow "><img src="<%= APP_CONFIG['development']['app_url'] %>article_shadow.png" /></div>
		               
		             </div>
		             
		             <div class="fl mtitle article_left res-mtitle">
		                    <h1 class="main_event_title"><%= @event[:event_title] %></h1>
		                    <h2><%= @event[:organizer_host] %></h2>
		                    <h2><span><%= I18n.t 'event.view.from' %> </span><%= @event[:event_start_date_time].strftime(@site[:date_time_format]) %> <span><%= I18n.t 'event.view.to' %> </span><%= @event[:event_end_date_time].strftime(@site[:date_time_format]) %></h2>
		             </div>
		             <div class="clear"></div>
		             
		        </div>
		        <div><img src="<%= APP_CONFIG['development']['app_url'] %>shadow.png" /></div> 
		        <div class="clear"></div>
		    </div>
		</div>

	
	
	<div class="main pad7">
		 <div id="orderInfo" ></div>
		 <!--Content Left-->
		 
    	<div class="left_columm">
    	<%
        		@protect = 1
        		
        		if(@event[:password_protect]==1 && @event[:keep_private]==1)
        			#@protect = 0
        			if(@event[:password_value]==params[:event_password])
        				@protect = 1
        			end
        		end
        	%>
        	
    	
    	<div class="marT60">
        	<div class="mtitle fl">
            	<h1 class="fl"><%= I18n.t 'event.view.ticket' %> <span><%= I18n.t 'event.view.information' %></span></h1>
             
            </div> <div class="clear"></div>
            <div class="event_detail pad3 marT20">
            
           
		          
		    <% if free_tickets.count > 0 || paid_tickets.count > 0 || donation_tickets.count > 0 %>      
		              
            <table class="ticket table">
                <thead>
                <tr>
                    <th class="TW25p"><%= I18n.t 'event.view.ticket_title' %></th>
                    <th><%= I18n.t 'event.view.sales_end' %></th>
                    <th><%= I18n.t 'event.view.price' %></th>
                    <th><%= I18n.t 'event.view.fee' %></th>
                    <th><%= I18n.t 'event.view.available' %></th>
                    <th><%= I18n.t 'event.view.qty' %></th>
                </tr>
                </thead>
                <tbody>
                	<%
                    	pur_available=0
                    	now_date = DateTime.now.strftime('%Y-%m-%d %H:%M:%S')
                    	
                    	if free_tickets.count > 0
	 
			       			 for free in free_tickets 
			       			 	if free[:free_ticket_name]!='' && free[:free_ticket_name]!=nil
                    %>
		                    <tr>
			                    <td>
			                    	<%= free[:free_ticket_name]%>
                                    	<% if free[:free_description]!='' && free[:free_description]!=nil %>
                                    		<a href="javascript:" onclick="if($('#<%= free[:id] %>').val()==1){ $('#desc_<%= free[:id] %>').hide(); $('#<%= free[:id] %>').val(0); this.innerHTML = '<%= I18n.t 'event.view.view_more' %>'; }else{ $('#desc_<%= free[:id] %>').show(); $('#<%= free[:id] %>').val(1); this.innerHTML = '<%= I18n.t 'event.view.hide' %>';  }"><%= I18n.t 'event.view.view_more' %></a>
                                    		
                                    		<div id="desc_<%= free[:id] %>" style="display: none;">
                                    			<%= free[:free_description] %>
                                    		</div>
                                    <% end %>
			                    </td>
			                    <td><% if free[:free_end_sale]!=nil %><%= free[:free_end_sale].strftime(@site[:date_time_format]) %><% end %></td>
			                    <td><%= I18n.t 'event.view.free' %></td>
			                    <td><%= I18n.t 'event.view.free' %></td>
			                    <td><%= free[:free_qty].to_i %>/<%= free[:free_qty].to_i %></td>
			                    <td>
			                    	<div class="posrel">
	                                    <select class="table_selectbox W50P_T" readonly="readonly">
	                                        <option value="1"><%= @site[:min_purchase_allowed] %></option> 
	                                    </select>
		                            <div class="clear"></div>
					        		</div>  
			                    </td>
			                </tr>            
		            <%
		            			end
                    		end 
                    	end	
		             %>
		             <%
		             if paid_tickets.count > 0
	 
			       			 for paid in paid_tickets 
			       			 	if paid[:paid_ticket_name]!='' && paid[:paid_ticket_name]!=nil
                    %>
		                    <tr>
			                    <td>
			                    	<%= paid[:paid_ticket_name]%>
                                    	<% if paid[:paid_description]!='' && paid[:paid_description]!=nil %>
                                    		<a href="javascript:" onclick="if($('#<%= paid[:id] %>').val()==1){ $('#desc_<%= paid[:id] %>').hide(); $('#<%= paid[:id] %>').val(0); this.innerHTML = '<%= I18n.t 'event.view.view_more' %>'; }else{ $('#desc_<%= paid[:id] %>').show(); $('#<%= paid[:id] %>').val(1); this.innerHTML = '<%= I18n.t 'event.view.hide' %>';  }"><%= I18n.t 'event.view.view_more' %></a>
                                    		
                                    		<div id="desc_<%= paid[:id] %>" style="display: none;">
                                    			<%= paid[:paid_description] %>
                                    		</div>
                                    <% end %>
			                    </td>
			                    <td><% if paid[:paid_end_sale]!=nil %><%= paid[:paid_end_sale].strftime(@site[:date_time_format]) %><% end %></td>
			                    <td><%= set_currency(paid[:paid_price]) %></td>
			                    <td><%= set_currency(paid[:paid_fee]) %></td>
			                    <td><%= paid[:paid_qty].to_i %>/<%= paid[:paid_qty].to_i %></td>
			                    <td>
			                    		<div class="posrel">
		                                    <select  id="ticket_qty" class="table_selectbox W50P_T" readonly="readonly">
		                                      <option value="1"><%= @site[:min_purchase_allowed] %></option>
		                                    </select>
			                            <div class="clear"></div>
						        		</div>  
			                    </td>
			                </tr>            
		            <%			end
                    		end 
                    	end	
		             %>
		             
		             <%
		             if donation_tickets.count > 0
	 
			       			 for donation in donation_tickets 
			       			 	if donation[:donation_ticket_name]!='' && donation[:donation_ticket_name]!=nil
                    %>
		                    <tr>
			                    <td>
			                    	<%= donation[:donation_ticket_name]%>
                                    	<% if donation[:donation_description]!='' && donation[:donation_description]!=nil %>
                                    		<a href="javascript:" onclick="if($('#<%= donation[:id] %>').val()==1){ $('#desc_<%= donation[:id] %>').hide(); $('#<%= donation[:id] %>').val(0); this.innerHTML = '<%= I18n.t 'event.view.view_more' %>'; }else{ $('#desc_<%= donation[:id] %>').show(); $('#<%= donation[:id] %>').val(1); this.innerHTML = '<%= I18n.t 'event.view.hide' %>';  }"><%= I18n.t 'event.view.view_more' %></a>
                                    		<div id="desc_<%= donation[:id] %>" style="display: none;">
                                    			<%= donation[:donation_description] %>
                                    		</div>
                                    <% end %>
			                    </td>
			                    <td><% if donation[:donation_end_sale]!=nil %><%= donation[:donation_end_sale].strftime(@site[:date_time_format]) %><% end %></td>
			                    <td><%= I18n.t 'event.view.na' %></td>
			                    <td><%= I18n.t 'event.view.na' %></td>
			                    <td><%= donation[:donation_qty].to_i %>/<%= donation[:donation_qty].to_i %></td>
			                    <td> <%= I18n.t 'event.view.amount' %>(<%= @site[:currency_symbol] %>) 
			                    	<input type="text"  id="ticket_qty"  class="textbox" style="height: 30px;" readonly="readonly" />
	                            </td>
			                </tr>            
		            <%			end
                    		end 
                    	end	
		             %>
		                                
	                
	                
                </tbody>
            </table>
            	
            <div class="clear"></div>
		</div>
		        
	       		<a href="javascript:"  class="btn fr marT10"><%= I18n.t 'event.view.buy_tickets' %></a>
            	<div class="clear"></div>
            	
           
            <% else %><p><%= I18n.t 'event.view.no_tickets_purchase' %></p>
            <div class="clear"></div>
		</div><% end %>
            
          
           
            <div class="clear"></div>
        </div>
        
        
        <div style="display:<% if @event[:allow_facebook]==1 %> block; <% else %> none; <% end %>" id="allow_facebook_id" >
            <div class="marT45">
	        	<div class="mtitle fl">
	            	<h1 class="fl"><%= I18n.t 'event.view.whos' %> <span><%= I18n.t 'event.view.going' %></span></h1>
	              
	            </div>
	             <div class="clear"></div>
	        </div>
                <div class="event_detail marT20 pad3P">
                	<div id="connect_with_facebook_friends">
                	<p><%= I18n.t 'event.view.connect_with_facebook_friends' %></p>
                	<a href="javascript://" onclick="Login();" class="cfacebook TW200">
						<img src="<%= APP_CONFIG['development']['app_url'] %>icon-facebook.png" /> <span><%= I18n.t 'event.view.connect_with_facebook' %></span>
					</a>
					</div>
					<div id="share_it">
					<p><%= I18n.t 'event.view.share_it' %>  <span class='st_facebook_hcount' displayText='Facebook'></span></p>
					</div>
					
                </div>
	            <div class="clear"></div>
                
        </div>
        
        
        <div class="event_detail marT20 pad7">
        	<h4 class="fl" style="margin-top: 5px;"><%= I18n.t 'event.view.share_this' %> <span><%= I18n.t 'event.view.event' %></span> </h4>
            	<div class="share_social">	
            		<span class='st_facebook_hcount' displayText='Facebook'></span>
					<span class='st_twitter_hcount' displayText='Tweet'></span>
					<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
					<span class='st_pinterest_hcount' displayText='Pinterest'></span>
					
                  </div>  
            <div class="clear"></div>
        </div>
        
	        
	        <div class="marT45">
	        	<div class="mtitle fl">
	            	<h1 class="fl"><%= I18n.t 'event.view.event_detail' %> <span><%= I18n.t 'event.view.detail' %></span></h1>
	              
	            </div>
	             <div class="clear"></div>
	        </div>
	           <div class="event_detail marT20 pad3P">
	           		<%=  render(:inline => @event[:event_detail]) %>
	           </div>
	           
	      
        <div class="clear"></div>
        </div>
        
        
<% 
	@save_cnt = SaveEvent.where(:event_id => @event[:id]).count 
	@updates = EventUpdate.find(:all, :conditions => ['event_id=?', @event[:id]])
%>
 
                   <!--Content Right-->
        <%= render(:partial => "tickets/event_detail_siebar" , :object => :collection) %> 
        
      
           <div class="clear"></div>
    </div>
    
    <div class="main pad7" id="footer_text_html">
    	<% if @event_theme 
    		if @event_theme[:footer_text_display]!=nil && @event_theme[:footer_text_display]!=''
    	%>
 			<%= render :inline => @event_theme[:footer_text_display] %>
 		<% 
 			end
 		end %>
    </div>
    
</section>
</div> 
<br />
	

<% @fb = FacebookSetting.find(:first) %>	
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= @fb[:facebook_application_id] %>', // App ID
      channelUrl : 'http://hayageek.com/examples/oauth/facebook/oauth-javascript/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
	
	var accessToken;
    
     FB.getLoginStatus(function(response) {
		  
		  if (response.status === 'connected') {
		    
			$('#connect_with_facebook_friends').hide();
			$('#share_it').show();
			//console.log(accessToken);
			
		  } else {
		    // the user isn't logged in to Facebook.
		    $('#connect_with_facebook_friends').show();
			$('#share_it').hide();
		  }
	 });
	/*FB.Event.subscribe('auth.authResponseChange', function(response) 
	{
	 	 if (response.status === 'connected') 
	  	{
	  		//document.getElementById("message").innerHTML +=  "<br>Connected to Facebook";
	  		//SUCCESS
	  		$('#connect_with_facebook_friends').hide();
			$('#share_it').show();
	  	}	 
		else if (response.status === 'not_authorized') 
	    {
	    	//document.getElementById("message").innerHTML +=  "<br>Failed to Connect";
			$('#connect_with_facebook_friends').show();
			$('#share_it').hide();
			//FAILED
	    } else 
	    {
	    	//document.getElementById("message").innerHTML +=  "<br>Logged Out";
			$('#connect_with_facebook_friends').show();
			$('#share_it').hide();
	    	//UNKNOWN ERROR
	    }
	});	*/
	
    };
    
    
 
   	function Login()
	{
	
		FB.login(function(response) {
		   if (response.authResponse) 
		   {
		    	getUserInfo();
		    	$('#connect_with_facebook_friends').hide();
				$('#share_it').show();
  			} else 
  			{
  	    	 console.log('User cancelled login or did not fully authorize.');
  	    	 $('#connect_with_facebook_friends').show();
				$('#share_it').hide();
   			}
		 },{scope: 'email,user_photos,user_videos,create_event'});
	
	
	}

  function getUserInfo() {
	    FB.api('/me', function(response) {

	  var str="<b>Name</b> : "+response.name+"<br>";
	  	  str +="<b>Link: </b>"+response.link+"<br>";
	  	  str +="<b>Username:</b> "+response.username+"<br>";
	  	  str +="<b>id: </b>"+response.id+"<br>";
	  	  str +="<b>Email:</b> "+response.email+"<br>";
	  	  str +="<input type='button' value='Get Photo' onclick='getPhoto();'/>";
	  	  str +="<input type='button' value='Logout' onclick='Logout();'/>";
	  	 // document.getElementById("status").innerHTML=str;
	  	 // console.log(response);	    
    });
	 
	FB.getLoginStatus(function(response) {
		  if (response.status === 'connected') {
		    // the user is logged in and has authenticated your
		    // app, and response.authResponse supplies
		    // the user's ID, a valid access token, a signed
		    // request, and the time the access token 
		    // and signed request each expire
		    var uid = response.authResponse.userID;
		    var accessToken = response.authResponse.accessToken;
			
			$('#connect_with_facebook_friends').hide();
			$('#share_it').show();
			//console.log(accessToken);
			
		  } else if (response.status === 'not_authorized') {
		    // the user is logged in to Facebook, 
		    // but has not authenticated your app
		    $('#connect_with_facebook_friends').show();
			$('#share_it').hide();
			
		  } else {
		    // the user isn't logged in to Facebook.
		    $('#connect_with_facebook_friends').show();
			$('#share_it').hide();
		  }
 	});
	
	 var accessToken =   FB.getAuthResponse()['accessToken'];
	
	var event_start =  "<%= @event[:event_start_date_time] %>".split(' ');
	var event_end =  "<%= @event[:event_end_date_time] %>".split(' ');
	var suc = 0;
	
    var name = "<%= @event[:event_title] %>";
    var startTime = event_start[0]+"T"+event_start[1]+".637Z"; //alert(startTime);
    var endTime = event_end[0]+"T"+event_end[1]+".637Z"; //alert(endTime);
    var location = "<%= @event[:vanue_name] %>";
    //var description = "%= render :inline => truncate(ActionController::Base.helpers.strip_tags(@event[:event_detail]), :length => 200).gsub(/\n$/, "") %>";

    /*var eventData = {
        "access_token": accessToken,
        "start_time" : startTime,
        "end_time":endTime,
        "location" : location,
        "name" : name,
        "description":description,
        "privacy":"OPEN"
    };
    FB.api("/me/events",'post',eventData,function(response2){
        console.log(response2);
       alert(response2)
       if(response2.id!='undefinded' && response2.id!='' && response2.id>0){ 
	        var subcategory_path = '/events/save_fb_event_id/';
	        
	        $.ajax({
	            type: "POST",
	            data: {id: %= @event[:id] %>, fb_event_id: response2.id}, 
	            url: subcategory_path,
	            success: function(data) {
	               alert(data);
	              if(data.msg=='success'){
	              		suc = 1;
	              }
	               
	            }
	        });
       }
    });
    */
    
    
    
	
    }
	function getPhoto()
	{
	  FB.api('/me/picture?type=normal', function(response) {

		  var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
	  	  document.getElementById("status").innerHTML+=str;
	  	  	    
    });
	
	}
	function Logout()
	{
		FB.logout(function(){document.location.reload();});
	}

  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script>