<%
	free_tickets = Ticket.get_free_ticket(@event[:id])
	paid_tickets = Ticket.get_paid_ticket(@event[:id])
	donation_tickets = Ticket.get_donation_ticket(@event[:id])	
%>
<style>
	@media (max-width: 768px) {
		.ticket td:nth-of-type(1):before { content: "<%= I18n.t 'event.view.ticket_title' %>"; font-weight:bold; }
		.ticket td:nth-of-type(2):before { content: "<%= I18n.t 'event.view.sales_end' %>"; font-weight:bold; }
		.ticket td:nth-of-type(3):before { content: "<%= I18n.t 'event.view.price' %>"; font-weight:bold; }
		.ticket td:nth-of-type(4):before { content: "<%= I18n.t 'event.view.fee' %>"; font-weight:bold; }
		.ticket td:nth-of-type(5):before { content: "<%= I18n.t 'event.view.available' %>"; font-weight:bold; }
		.ticket td:nth-of-type(6):before { content: "<%= I18n.t 'event.view.qty' %>"; font-weight:bold; }
	}	
</style>
<script>
			function submit_check_form(){
				var chk = true;
				
				$('#orderInfo').text("");
				$('#orderInfo').removeClass("errors");
				
				 <%
                	if free_tickets.count > 0
 						 for free in free_tickets %>
		       					if($('#ticket_qty_<%= free[:id] %>').val() > 0){
		       			 			chk=false;
		       			 		}	
		       			 <% end
		       		end
		       	%>
		       	
		       	<%
                	if paid_tickets.count > 0
 						 for paid in paid_tickets %>
 						 
		       					if($('#ticket_qty_<%= paid[:id] %>').val() > 0){
		       			 			chk=false;
		       			 		}	
		       			 <% end
		       		end
		       	%>
		       	
		       	<%
                	if donation_tickets.count > 0
 						 for donation in donation_tickets %>
 						 
		       					if($('#ticket_qty_<%= donation[:id] %>').val() > 0){
		       			 			chk=false;
		       			 		}	
		       			 <% end
		       		end
		       	%>
		       	
		       	 if(chk){
		       	 		$('#orderInfo').text("<%= I18n.t 'validation.event_view.order_info' %>");
						$('#orderInfo').addClass("errors marT60");
						return false;
		       	 }else{
		       	 		$('#purchase').submit();
		       	 }
				
			}
			
			function submit_password_form(){
				
				if($('#event_password').val()==''){
					$('#event_pass_info').text('<%= I18n.t 'validation.event_view.enter_password' %>');
					return false;
				}
				$('#passwordform').submit();
			}

			function submit_check_promotional_code(){
				var code_val = $('#promotional_code');
				var codeerrInfo = $('#promotional_codeInfo');
				codeerrInfo.text('');
				
			
				var a = code_val.val();
				var filter=/^[a-zA-Z0-9_.@]+$/;
				//if it's valid url
					if(a==''){
						code_val.focus();
						codeerrInfo.text('<%= I18n.t 'validation.event_view.enter_promo' %>');
						return false;
					}
					
					//if it's NOT valid
					else if(!filter.test(a)){
						code_val.focus();
						codeerrInfo.text("<%= I18n.t 'validation.event_view.valid_promo' %>");
						return false;
					}else{
						//alert();
						window.location = '<%= request.env['PATH_INFO'] %>/?promo='+a;
					}
				
			}
</script>
<div id="event_view_page_theme">			   
<section>
	<div class="main marT80">
		<% if @event_theme 
 			if @event_theme[:header_text_display]!=nil && @event_theme[:header_text_display]!=''
 		%>
 			<%= render :inline => @event_theme[:header_text_display] %>
 		<% 
 			end
 		end %>
	</div>
	<%= render(:partial => "tickets/event_top_banner" , :object => :collection) %> 	 
	
	
	<div class="main">
		 <div id="orderInfo" ></div>
		 <!--Content Left-->
		 <% if flash[:notice] -%>
	      <div class="errors marT60">
	      	<p><%= flash[:notice] %></p>
	      </div>
	
	    <% end -%>
    	<div class="left_columm">
    	<%
        		@protect = 1
        		
        		if(@event[:password_protect]==1 && @event[:keep_private]==1)
        			#@protect = 0
        			if(@event[:password_value]==params[:event_password])
        				@protect = 1
        			end
        		end
        	%>
        	
    	
    	<div class="marT60">
        	<div class="mtitle fl">
            	<h1 class="fl"><%= I18n.t 'event.view.ticket' %> <span><%= I18n.t 'event.view.information' %></span></h1>
             
            </div> <div class="clear"></div>
            
            
             <% if @protect==1	%>
		        <div class="event_detail pad3 marT20">  
		    <% if free_tickets.count > 0 || paid_tickets.count > 0 || donation_tickets.count > 0 %>      
		    <%= form_tag({:controller => 'tickets', :action => 'purchase'}, :id => 'purchase', :name => 'purchase') do %>	          
            <table class="ticket table">
                <thead>
                <tr>
                    <th style="width: 110px;"><%= I18n.t 'event.view.ticket_title' %></th>
                    <th style="width: 110px;"><%= I18n.t 'event.view.sales_end' %></th>
                    <th style="width: 61px;"><%= I18n.t 'event.view.price' %></th>
                    <th style="width: 61px;"><%= I18n.t 'event.view.fee' %></th>
                    <th style="width: 80px;"><%= I18n.t 'event.view.available' %></th>
                    <th style="width: 155px;"><%= I18n.t 'event.view.qty' %></th>
                
                </tr>
                </thead>
                <tbody>
                	<%
                    	pur_available=0
                    	now_date = Time.now.strftime('%Y-%m-%d %H:%M:%S')
                    	@hidden=0
                    	if free_tickets.count > 0
	 
			       			 for free in free_tickets 
			       			 	if @code_type==1
			       			 		if PromotionalCode.is_applicable_promocode(@promo_code, free)==1
			       			 			@hidden=1
			       			 		end	
			       			 	end	
			       			 	if (free[:free_ticket_name]!='' && free[:free_ticket_name]!=nil && (free[:free_ticket_status]!=2 || @hidden==1))
                    %>
		                    <tr>
			                    <td>
			                    	<%= free[:free_ticket_name]%>
                                    	<% if free[:free_description]!='' && free[:free_description]!=nil %>
                                    		<a href="javascript:" onclick="if($('#<%= free[:id] %>').val()==1){ $('#desc_<%= free[:id] %>').hide(); $('#<%= free[:id] %>').val(0); this.innerHTML = '<%= I18n.t 'event.view.view_more' %>'; }else{ $('#desc_<%= free[:id] %>').show(); $('#<%= free[:id] %>').val(1); this.innerHTML = '<%= I18n.t 'event.view.hide' %>';  }"><%= I18n.t 'event.view.view_more' %></a>
                                    		<input type="hidden" id="<%= free[:id] %>" value="0" />
                                    		<div id="desc_<%= free[:id] %>" style="display: none;">
                                    			<%= free[:free_description] %>
                                    		</div>
                                    <% end %>
			                    </td>
			                    <td><% if free[:free_end_sale]!=nil %><%= free[:free_end_sale].strftime(@site[:date_time_format]) %><% end %></td>
			                    <td><%= I18n.t 'event.view.free' %></td>
			                    <td><%= I18n.t 'event.view.free' %></td>
			                    <td>
			                    	<% available = free[:free_qty].to_i - free[:used].to_i %>
			                    	<%= available.to_i %>/<%= free[:free_qty].to_i %> 
			                    </td>
			                    <td>
			                    		<% if(free[:free_end_sale]==nil || free[:free_end_sale] < now_date || free[:free_start_sale] > now_date || @event[:event_end_date_time] < now_date ) %>
		                                    <%= I18n.t 'event.view.na' %>
		                                <% else 
		                                		
		                                		
		                                		if free[:free_min_purchase]==nil or free[:free_min_purchase]==''
		                                			free[:free_min_purchase]=@site[:min_purchase_allowed]
		                                		end
		                                		
		                                		if free[:free_max_purchase]==nil or free[:free_max_purchase]==''
		                                			free[:free_max_purchase]=@site[:max_purchase_allowed]
		                                		end
		                                		
		                                		if (available > free[:free_min_purchase])
		                                			pur_available=1
		                                			
		                                		if available > 	free[:free_max_purchase] && free[:free_max_purchase]>0
		                                			available = free[:free_max_purchase]
		                                		end	
		                                %>
		                                    <div class="posrel">
			                                    <select name="ticket_qty[<%= free[:id] %>]" id="ticket_qty_<%= free[:id] %>" class="table_selectbox W50P_T"  >
			                                        <option value="0">0</option>
			                                        <%
			                                        	free[:free_min_purchase].upto(available) do |n|
			                                        	    %><option value="<%= n %>"><%= n %></option> <%
														end
			                                        %>
			                                        
			                                    </select>
				                            <div class="clear"></div>
							        		</div>       
	                                    <% 
	                                    	else
	                                    		%> <%= I18n.t 'event.view.sold_out' %> <%
	                                    	end
	                                    end %>
			                    </td>
			                </tr>            
		            <%
                    			end
                    		end 
                    	end	
		             %>
		             <%
		             if paid_tickets.count > 0
	 
			       			 for paid in paid_tickets 
			       			 	if @code_type==1
			       			 		if PromotionalCode.is_applicable_promocode(@promo_code, paid)==1
			       			 			@hidden=1
			       			 		end	
			       			 	end	
			       			 	
			       			 	if (paid[:paid_ticket_name]!='' && paid[:paid_ticket_name]!=nil && (paid[:paid_ticket_status]!=2 || @hidden==1))
                    %>
		                    <tr>
			                    <td>
			                    	<%= paid[:paid_ticket_name]%>
                                    	<% if paid[:paid_description]!='' && paid[:paid_description]!=nil %>
                                    		<a href="javascript:" onclick="if($('#<%= paid[:id] %>').val()==1){ $('#desc_<%= paid[:id] %>').hide(); $('#<%= paid[:id] %>').val(0); this.innerHTML = '<%= I18n.t 'event.view.view_more' %>'; }else{ $('#desc_<%= paid[:id] %>').show(); $('#<%= paid[:id] %>').val(1); this.innerHTML = '<%= I18n.t 'event.view.hide' %>';  }"><%= I18n.t 'event.view.view_more' %></a>
                                    		<input type="hidden" id="<%= paid[:id] %>" value="0" />
                                    		<div id="desc_<%= paid[:id] %>" style="display: none;">
                                    			<%= paid[:paid_description] %>
                                    		</div>
                                    <% end %>
			                    </td>
			                    <td><% if paid[:paid_end_sale]!=nil %><%= paid[:paid_end_sale].strftime(@site[:date_time_format]) %><% end %></td>
			                    <td>
			                    	<%
				       			 		if @promo_code && @promo_code[:code_type]=='disc'
				       			 			if @promo_code[:disc_amt]!=nil && @promo_code[:disc_amt]!='' && @promo_code[:disc_amt] > 0
				       			 				paid[:paid_price] = paid[:paid_price].to_f-@promo_code[:disc_amt].to_f
				       			 			elsif @promo_code[:disc_perc]!=nil && @promo_code[:disc_perc]!='' && @promo_code[:disc_perc] > 0
				       			 				@perc = ((paid[:paid_price].to_f * @promo_code[:disc_perc].to_f) / 100)
				       			 				paid[:paid_price] = paid[:paid_price].to_f - @perc.to_f
				       			 			end		
				       			 		end	
				       			 	%>	
			                    	<%= set_currency(paid[:paid_price]) %></td>
			                    <td>
			                    	<% if (@event[:event_pass_fees]==1) || (@event[:event_pass_fees]==3 && paid[:paid_service_fee]==1) %>
                              	 		<%= set_currency(paid[:paid_fee]) %>
                              	 	<% else %><%= set_currency(0) %><% end %>
			                    </td>
			                    <td>
			                    	<% available = paid[:paid_qty].to_i - paid[:used].to_i %>
			                    	<%= available.to_i %>/<%= paid[:paid_qty].to_i %> 
			                    </td>
			                    
			                    <td>
			                    		<% if(paid[:paid_end_sale]==nil || paid[:paid_end_sale] < now_date || paid[:paid_start_sale] > now_date || @event[:event_end_date_time] < now_date ) %>
		                                    <%= I18n.t 'event.view.na' %>
		                                <% else 
		                                		
		                                		if paid[:paid_min_purchase]==nil or paid[:paid_min_purchase]==''
		                                			paid[:paid_min_purchase]=@site[:min_purchase_allowed]
		                                		end
		                                		
		                                		if paid[:paid_max_purchase]==nil or paid[:paid_max_purchase]==''
		                                			paid[:paid_max_purchase]=@site[:max_purchase_allowed]
		                                		end
		                                			
		                                		if (available > paid[:paid_min_purchase])
		                                			pur_available=1
		                                			
		                                		if available > 	paid[:paid_max_purchase] && paid[:paid_max_purchase]>0
		                                			available = paid[:paid_max_purchase]
		                                		end		
		                                %>
		                                    <div class="posrel">
			                                    <select name="ticket_qty[<%= paid[:id] %>]" id="ticket_qty_<%= paid[:id] %>" class="table_selectbox W50P_T" >
			                                         <option value="0">0</option>
			                                        <%
			                                        	paid[:paid_min_purchase].upto(available) do |n|
			                                        	    %><option value="<%= n %>"><%= n %></option> <%
														end
			                                        %>
			                                        
			                                    </select>
				                            <div class="clear"></div>
							        		</div>       
	                                    <% 
	                                    	else
	                                    		%> <%= I18n.t 'event.view.sold_out' %><%
	                                    	end
	                                    end %>
			                    </td>
			                </tr>            
		            <%
		            			end
                    		end 
                    	end	
		             %>
		             
		             <%
		             if donation_tickets.count > 0
	 
			       			 for donation in donation_tickets 
			       			 	if @code_type==1
			       			 		if PromotionalCode.is_applicable_promocode(@promo_code, donation)==1
			       			 			@hidden=1
			       			 		end	
			       			 	end	
			       			 	
			       			 	if (donation[:donation_ticket_name]!='' && donation[:donation_ticket_name]!=nil && (donation[:donation_ticket_status]!=2 || @hidden==1)) 
                    %>
		                    <tr>
			                    <td>
			                    	<%= donation[:donation_ticket_name]%>
                                    	<% if donation[:donation_description]!='' && donation[:donation_description]!=nil %>
                                    		<a href="javascript:" onclick="if($('#<%= donation[:id] %>').val()==1){ $('#desc_<%= donation[:id] %>').hide(); $('#<%= donation[:id] %>').val(0); this.innerHTML = '<%= I18n.t 'event.view.view_more' %>'; }else{ $('#desc_<%= donation[:id] %>').show(); $('#<%= donation[:id] %>').val(1); this.innerHTML = '<%= I18n.t 'event.view.hide' %>';  }"><%= I18n.t 'event.view.view_more' %></a>
                                    		<input type="hidden" id="<%= donation[:id] %>" value="0" />
                                    		<div id="desc_<%= donation[:id] %>" style="display: none;">
                                    			<%= donation[:donation_description] %>
                                    		</div>
                                    <% end %>
			                    </td>
			                    <td><% if donation[:donation_end_sale]!=nil %><%= donation[:donation_end_sale].strftime(@site[:date_time_format]) %><% end %></td>
			                    <td><%= I18n.t 'event.view.na' %></td>
			                    <td><%= I18n.t 'event.view.na' %></td>
			                    <td>
			                    	<% available = donation[:donation_qty].to_i - donation[:used].to_i %>
			                    	<%= available.to_i %>/<%= donation[:donation_qty].to_i %> 
			                    </td>
			                    
			                    <td>
			                    		<% if donation[:donation_end_sale]==nil || donation[:donation_end_sale] < now_date  || donation[:donation_start_sale] > now_date || @event[:event_end_date_time] < now_date  %>
		                                    <%= I18n.t 'event.view.na' %>
		                                <% else
		                                		
		                                		if (available > 0)
		                                			pur_available=1
		                                 %>
		                                   <%= I18n.t 'event.view.amount' %>(<%= @site[:currency_symbol] %>)<br /> <input type="text" name="ticket_qty[<%= donation[:id] %>]" id="ticket_qty_<%= donation[:id] %>"  class="textbox" style="height: 30px;"   />
	                                    <% 
	                                    	else
	                                    		%> <%= I18n.t 'event.view.sold_out' %> <%
	                                    	end
	                                     end %>
			                    </td>
			                </tr>            
		            <%
		            			end
                    		end 
                    	end	
		             %>
		                                
	                
	                
                </tbody>
            </table>
            	<input type="hidden" name="event_id" id="event_id" value="<%= @event[:id] %>" />
            	
            	<% @promotional_codes = PromotionalCode.find(:all, :conditions => ['event_id=?', @event[:id]]) %>
	       					
				<% if @code_type==0 && @promotional_codes.count > 0 %>
					<br />
   					<p>	<%= I18n.t 'event.view.enter_promo' %> :
   							<input type="text" name="promotional_code" id="promotional_code" value="" class="textbox" />
   							
   							<a href="javascript:" onclick="submit_check_promotional_code();"  class="btn fr"><%= I18n.t 'event.view.apply' %></a>
   							
   							</p><div id="promotional_codeInfo" class="error1"></div> <br />
				<% end %>
            	<% if @code_type==1 && @hidden==1
            			@promo_code_id = @promo_code[:id]
            		end %>
            	<input type="hidden" name="promo_code_id" id="promo_code_id" value="<%= @promo_code_id %>" />
		        
		        <% if pur_available==1 %> 
				        <div class="clear"></div>
				</div>
            		<% if session[:user_id]=='' ||  session[:user_id]==nil 
	       				session[:return_to] = request.url 
	       					%>
	       					<div class=" fr marT15">
		       					<span class="font_size14"><%= I18n.t 'event.view.login_first' %></span>
		       					<a href="<%= APP_CONFIG['development']['site_url'] %>home/login"  class="btn"><%= I18n.t 'event.view.login' %></a>
	       					</div>
	       					<%
	       				else
	       					%>
	       					<a href="javascript:" onclick="submit_check_form();"  class="btn fr marT15"><%= I18n.t 'event.view.buy_tickets' %></a>
	       					<%
	       				end	
	       			%> 
            	<% else %>
			            	
            		<div class="pad15 textcenter"><p><%= I18n.t 'event.view.no_tickets_purchase' %></p></div>
            		<div class="clear"></div>
					</div>
            	<% end %>
            	<div class="clear"></div>
            	
            <% end %>
            <% else %>
            	<div class="pad15 textcenter"><p><%= I18n.t 'event.view.no_tickets_purchase' %></p></div>
            		<div class="clear"></div>
					</div>
            <% end %>
            
          <% else %>  
          		<div class="event_detail pad3 marT20">
          		<%= form_tag(request.path ,:id => 'passwordform', :name => 'passwordform') do %>	
          			<div class="event_detail pass_text pad20 marT20">
		                	<img src="<%= APP_CONFIG['development']['app_url'] %>icon-protection.png" />
		                    <div>
		                        <strong><span class="font_size15"><%= I18n.t 'event.view.event_password_protected' %></span></strong>
		                        <p><%= I18n.t 'event.view.event_password_protected_enter_password' %></p><br />
		                        <input type="password" id="event_password" name="event_password" class="textbox" placeholder="Enter Password" value="<%= params[:event_password] %>" /> 
		                        <div id="event_pass_info" class="error1" style="margin-left: 15px;">
                       				<% if params[:event_password]!='' && params[:event_password]!=nil %>
                       					<%= I18n.t 'event.view.incorrect_password' %>
                       				<% end %>
                       			</div>
                       			<a href="javascript:" onclick="submit_password_form();" class="btn"><%= I18n.t 'event.view.view_now' %></a>
		                                            
		                    </div>
		                <div class="clear"></div>
		            </div>
		            
              	<% end %>
              	 <div class="clear"></div>
		</div>
          <% end %>  
           
           
            <div class="clear"></div>
        </div>
        
        
        <div style="display:<% if @event[:allow_facebook]==1 %> block; <% else %> none; <% end %>" id="allow_facebook_id" >
            <div class="marT45">
	        	<div class="mtitle fl">
	            	<h1 class="fl"><%= I18n.t 'event.view.whos' %> <span><%= I18n.t 'event.view.going' %></span></h1>
	              
	            </div>
	             <div class="clear"></div>
	        </div>
                <div class="event_detail marT20 pad3P">
                	<div id="connect_with_facebook_friends">
                	<p><%= I18n.t 'event.view.connect_with_facebook_friends' %></p>
                	<a href="javascript://" onclick="Login();" class="cfacebook TW200">
						<img src="<%= APP_CONFIG['development']['app_url'] %>icon-facebook.png" /> <span><%= I18n.t 'event.view.connect_with_facebook' %></span>
					</a>
					</div>
					<div id="share_it">
					<p><%= I18n.t 'event.view.share_it' %>  <span class='st_facebook_hcount' displayText='Facebook'></span></p>
					</div>
					
                </div>
	            <div class="clear"></div>
                
        </div>
        
        
        <div class="event_detail marT45 pad7">
        	<h4 class="fl" style="margin-top: 5px;"><%= I18n.t 'event.view.share_this' %> <span><%= I18n.t 'event.view.event' %></span> </h4>
            	<div class="share_social">	
            		<span class='st_facebook_hcount' displayText='Facebook'></span>
					<span class='st_twitter_hcount' displayText='Tweet'></span>
					<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
					<span class='st_pinterest_hcount' displayText='Pinterest'></span>
					
                  </div>  
            <div class="clear"></div>
        </div>
        
	        <% if @protect==1	%>  
	        <div class="marT45">
	        	<div class="mtitle fl">
	            	<h1 class="fl"><%= I18n.t 'event.view.event_detail' %> <span><%= I18n.t 'event.view.detail' %></span></h1>
	              
	            </div>
	             <div class="clear"></div>
	        </div>
	           <div class="event_detail marT20 pad3P">
	           		<%=  render(:inline => @event[:event_detail]) %>
	           </div>
	           
	        <% end %>
        <div class="clear"></div>
        </div>
        
        <!--Content Right-->
        <%= render(:partial => "tickets/event_detail_siebar" , :object => :collection) %> 
           <div class="clear"></div>
    </div>
    
    <div class="main">
    	
    	<% if @event_theme 
    		if @event_theme[:footer_text_display]!=nil && @event_theme[:footer_text_display]!=''
    	%>
 			<%= render :inline => @event_theme[:footer_text_display] %>
 		<% 
 			end
 		end %>
    </div>
    
</section>

</div>

<% @fb = FacebookSetting.find(:first) %>	
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= @fb[:facebook_application_id] %>', // App ID
      channelUrl : 'http://hayageek.com/examples/oauth/facebook/oauth-javascript/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
	
	var accessToken;
    
     FB.getLoginStatus(function(response) {
		  
		  if (response.status === 'connected') {
		   
			$('#connect_with_facebook_friends').hide();
			$('#share_it').show();
			//console.log(accessToken);
			
		  } else {
		    // the user isn't logged in to Facebook.
		    $('#connect_with_facebook_friends').show();
			$('#share_it').hide();
		  }
	 });
	/*FB.Event.subscribe('auth.authResponseChange', function(response) 
	{
	 	 if (response.status === 'connected') 
	  	{
	  		//document.getElementById("message").innerHTML +=  "<br>Connected to Facebook";
	  		//SUCCESS
	  		$('#connect_with_facebook_friends').hide();
			$('#share_it').show();
	  	}	 
		else if (response.status === 'not_authorized') 
	    {
	    	//document.getElementById("message").innerHTML +=  "<br>Failed to Connect";
			$('#connect_with_facebook_friends').show();
			$('#share_it').hide();
			//FAILED
	    } else 
	    {
	    	//document.getElementById("message").innerHTML +=  "<br>Logged Out";
			$('#connect_with_facebook_friends').show();
			$('#share_it').hide();
	    	//UNKNOWN ERROR
	    }
	});	*/
	
    };
    
    
 
   	function Login()
	{
	
		FB.login(function(response) {
		   if (response.authResponse) 
		   {
		    	//getUserInfo();
		    	$('#connect_with_facebook_friends').hide();
				$('#share_it').show();
  			} else 
  			{
  	    	
  	    	 console.log('User cancelled login or did not fully authorize.');
  	    	 $('#connect_with_facebook_friends').show();
				$('#share_it').hide();
   			}
		 },{scope: 'email,user_photos,user_videos,create_event'});
	
	
	}

  function getUserInfo() {
	    FB.api('/me', function(response) {

	  var str="<b>Name</b> : "+response.name+"<br>";
	  	  str +="<b>Link: </b>"+response.link+"<br>";
	  	  str +="<b>Username:</b> "+response.username+"<br>";
	  	  str +="<b>id: </b>"+response.id+"<br>";
	  	  str +="<b>Email:</b> "+response.email+"<br>";
	  	  str +="<input type='button' value='Get Photo' onclick='getPhoto();'/>";
	  	  str +="<input type='button' value='Logout' onclick='Logout();'/>";
	  	 // document.getElementById("status").innerHTML=str;
	  	 // console.log(response);	    
    });
	 
	FB.getLoginStatus(function(response) {
		  if (response.status === 'connected') {
		    // the user is logged in and has authenticated your
		    // app, and response.authResponse supplies
		    // the user's ID, a valid access token, a signed
		    // request, and the time the access token 
		    // and signed request each expire
		    var uid = response.authResponse.userID;
		    var accessToken = response.authResponse.accessToken;
			
			$('#connect_with_facebook_friends').hide();
			$('#share_it').show();
			//console.log(accessToken);
			
		  } else if (response.status === 'not_authorized') {
		    // the user is logged in to Facebook, 
		    // but has not authenticated your app
		    $('#connect_with_facebook_friends').show();
			$('#share_it').hide();
			
		  } else {
		    // the user isn't logged in to Facebook.
		    $('#connect_with_facebook_friends').show();
			$('#share_it').hide();
		  }
 	});
	
	 var accessToken =   FB.getAuthResponse()['accessToken'];
	
	var event_start =  "<%= @event[:event_start_date_time] %>".split(' ');
	var event_end =  "<%= @event[:event_end_date_time] %>".split(' ');
	var suc = 0;
	
    var name = "<%= @event[:event_title] %>";
    var startTime = event_start[0]+"T"+event_start[1]+".637Z"; //alert(startTime);
    var endTime = event_end[0]+"T"+event_end[1]+".637Z"; //alert(endTime);
    var location = "<%= @event[:vanue_name] %>";
    //var description = "%= render :inline => truncate(ActionController::Base.helpers.strip_tags(@event[:event_detail]), :length => 200).gsub(/\n$/, "") %>";

    /*var eventData = {
        "access_token": accessToken,
        "start_time" : startTime,
        "end_time":endTime,
        "location" : location,
        "name" : name,
        "description":description,
        "privacy":"OPEN"
    };
    FB.api("/me/events",'post',eventData,function(response2){
        console.log(response2);
       alert(response2)
       if(response2.id!='undefinded' && response2.id!='' && response2.id>0){ 
	        var subcategory_path = '/events/save_fb_event_id/';
	        
	        $.ajax({
	            type: "POST",
	            data: {id: %= @event[:id] %>, fb_event_id: response2.id}, 
	            url: subcategory_path,
	            success: function(data) {
	               alert(data);
	              if(data.msg=='success'){
	              		suc = 1;
	              }
	               
	            }
	        });
       }
    });
    */
    
    
    
	
    }
	function getPhoto()
	{
	  FB.api('/me/picture?type=normal', function(response) {

		  var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
	  	  document.getElementById("status").innerHTML+=str;
	  	  	    
    });
	
	}
	function Logout()
	{
		FB.logout(function(){document.location.reload();});
	}

  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script>

 