<script>
 $(document).ready(function() {	
	$('.breadcrumb').html('');
	$('#index_footer').html('');
	
});	
</script> 
<%  #@tickets = Purchase.where(:user_id => params[:user_id]).paginate(:page => params[:id], :per_page => 2).order('id DESC')
	@with = WalletWithdraw.where(:withdraw_status => 1, :cancel_order => 0).order('id DESC')#.paginate(:page => params[:id], :per_page => 1).order('id DESC')
	@site = SiteSetting.find(:first)
 %>



<div class="paginated_collection">
              <div class="paginated_collection_contents">
                <div class="index_content">
                  <div class="index_as_table">
                    <table border="0" cellspacing="0" cellpadding="0"  class="index_table index" paginator="true">
                      
							<thead>
								<tr>
								 <!-- <th class="sortable first_name"><a href="/admin/purchases?user_id=4&amp;order=first_name_desc">First Name</a></th>
								  <th class="sortable last_name"><a href="/admin/purchases?user_id=4&amp;order=last_name_desc">Last Name</a></th> -->
								  <th >User</th>
								  <th >Amount</th>
								  <th >Withdraw IP address</th>
								  <th >Request Date</th>
								  
								</tr>
							</thead>
							<tbody>
								
								<% 
								i=1
								  if @with.count > 0
									  for w in @with
									  	@user = User.find(w[:user_id])
								%>
								
									<tr class="<% if i%2==0 %> even <% else %>odd <% end %>">
										<td>
											<% if @user[:first_name]==nil && @user[:first_name]==nil %>
												N/A
											<% else %>
												<%= @user[:first_name] %> <%= @user[:last_name]%>
											<% end %>
										</td>
										<td><%= set_currency(w[:withdraw_amount]) %></td>
										<td><%= w[:withdraw_ip] %></td>
										<td><%= w[:created_at].strftime(@site[:date_time_format]) %></td>
										
									</tr>
								<%
											i+=1
										
									end
								 else
									%>
									<tr class="odd">
										<td colspan="7" style="text-align: center;">No Confirmed Withdrawals Available</td>
									</tr>
									 <%	
								end %>
							
							
								 
							                        
							</tbody>
 
                    </table>
                    
                  </div>
                </div>
              </div>
              
            </div>
