<script src="<%= APP_CONFIG['development']['js_url'] %>js/validation.js" type="text/javascript"></script>   
<section>
	<%= render(:partial => "account_top" , :object => :collection) %> 
	<div class="main marTB40">
    	 	   
    	 	   <% if flash[:notice] -%>
			      <div class="errors" >
			      	<p><%= flash[:notice] %></p>
			      </div>
			
			   <% end -%>
			   
			   
	             <% if flash[:notice1] -%>
			      <div class="notice" >
			      	<p><%= flash[:notice1] %></p>
			      </div>
			
			   <% end -%>
 			    
 			    
    	<div class="leftcol">      	
            <div class="mtitle">
            	<h3><%= I18n.t 'user_profile.profile_change'%>  <span><%= I18n.t 'facebook_login.pwd'%></span></h3>
            </div>
            
                    	
				<%= form_tag({:controller => 'manage_account', :action => 'password'}, :id => 'resetForm', :name => 'resetForm') do %> 

 
               
 			    
            <div class="shadow marT10 pad20">
            	<div class="form">
                	<label><%= I18n.t 'manage_account_password.old_pwd'%></label>
                    <%= text_field_tag :password, params[:old_password], :class => 'textbox', :type => 'password', :name => 'old_password', :id => 'old_password' %>
	               
                	<label><%= I18n.t 'set_new_password.new_pwd'%></label>
                    <%= text_field_tag :password, params[:password], :class => 'textbox', :type => 'password', :name => 'user[password]' %>
                    <div id="passInfo" style="margin-left: 30%;"></div>
                    
                	<label><%= I18n.t 'set_new_password.confirm_pwd'%></label>
                    <%= text_field_tag :cpassword, params[:cpassword], :class => 'textbox', :type => 'password' %>
                    <div id="cpassInfo" style="margin-left: 30%;"></div>
                    
                </div>
                <div class="clear"></div>
            </div> 
            <div class="marT20" align="right">
            	<%= submit_tag (I18n.t 'button.save'), :class => 'submit_btn', :id => 'resetbtn' %>
            </div>
            
            <% end %>
            
        </div>
               	
        	<% @act_class = 'Password' %>         	
    		<%= render(:partial => "account_sidebar" , :object => :collection) %>    
            
    
        
        <div class="clear"></div>
    </div>    
</section>

