
<script type="text/javascript">
function show_event_div(){
	$('#show_event_div').slideDown();
	$('#show_events').html('<span onclick="hide_event_div()"><%= I18n.t 'event.view.hide' %></span>');
}

function hide_event_div(){
	$('#show_event_div').hide();
	$('#show_events').html('<span onclick="show_event_div()"><%= I18n.t 'payaccounts.show' %></span>');
}


	function validateEmailCommon(form,id,errid){
		//testing regular expression
		var email_reg_exp= /^[a-zA-Z0-9]+[a-zA-Z0-9_.-]+[a-zA-Z0-9_-]+@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{2,4}$/;
		var form = $("#"+form+"");	
		
	
		var forget_email = $("#"+id);
		var forgetEmailInfo = $("#"+errid);
	
		
	
		
		//On click		
		forget_email.focus(function() {  
			
			
		
		} );
		
		
		
		//On blur
		
		forget_email.blur(validateEmail);
		
	
	
		forget_email.keyup(validateEmail);
		
		
		//On Submitting
		form.submit(function(){
			if(validateEmail())
				
				if(id=='event_pay_account')
					
					if(confirm('<%= I18n.t 'payaccounts.this_update_paypal_address_all_events_currently'%> "<%= @user[:event_pay_account] %>" <%= I18n.t 'payaccounts.as_the_paypal_email_ok_to_confirm'%>'))
						return true;
					else
						return false;
				else
					return true;		
			else
				return false;
		});
		
	
			//validation functions
			function validateEmail(){
				//testing regular expression
				var a = $("#"+id).val();
				var filter = email_reg_exp;
				//if it's valid email
				//alert(a);
				if(filter.test(a)){
						
					forgetEmailInfo.text('<%= I18n.t 'add_user_form.email_address_valid'%>');
					forgetEmailInfo.removeClass("error1");
					forgetEmailInfo.addClass("success");
					return true;
				}
				//if it's NOT valid
				else{
					
					forgetEmailInfo.text('<%= I18n.t 'list_script.please_valid_email'%>');
					forgetEmailInfo.addClass("error1");
					return false;
				}
			}
	
		}
		
</script>
<section>
	<%= render(:partial => "account_top" , :object => :collection) %> 
	
	<div class="main marTB40">
    	<% if flash[:notice] -%>
	      <div class="errors" >
	      	<p><%= flash[:notice] %></p>
	      </div>
		<% end -%>
	   
         <% if flash[:notice1] -%>
	      <div class="notice" >
	      	<p><%= flash[:notice1] %></p>
	      </div>
		<% end -%>
	   
	   
    	<div class="leftcol">   
    	<%= form_tag({:controller => 'manage_account', :action => 'payaccounts'}, :id => 'eventpayform') do %>   	
            <div class="mtitle">
            	<h3><%= I18n.t 'payaccounts.paypal_email_address_used_your_events'%></h3>
            </div>
            <div class="shadow marT10 pad20">
            	<div class="payment_accounts form">
                      <%= text_field_tag :event_pay_account, @user[:event_pay_account], :class => 'textbox' %>
	                  <input type="hidden" name="type" value="event"  />               
	                  <%= submit_tag (I18n.t 'button.save'), :class => 'submit_btn', :onclick => 'return validateEmailCommon("eventpayform","event_pay_account","payerr")' %>
	                  <div id="payerr" ></div>
                      <br />
                      <% if @event.count > 0 %>
	                 	<%= I18n.t 'payaccounts.used_in'%> <%= @event.count %> <%= I18n.t 'payaccounts.small_events'%> <strong> <a href="javascript:" class="link_show"><%= I18n.t 'payaccounts.show' %></a></strong></small>
	              	  <% end  %>	
                    
                    <div class="div_show">
                    	<div class="event_name_list marT15">
                            <% if @event.count > 0 %>
		                    <ul>
		                      <% for e in @event 
		                      		if e[:event_url_link]=='' || e[:event_url_link]==nil 
					             		page_url = APP_CONFIG['development']['site_url']+'events/view/'+e[:id].to_s 
					             	else
					             		page_url = APP_CONFIG['development']['site_url']+'event/'+e[:event_url_link]
					             	end
		                      %>
		                      		<li><a href="<%= page_url %>"><%= e[:event_title] %></a></li>
		                      <% end %>
		                    </ul>
		                    <% end  %>             
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        <% end %>
        <%= form_tag({:controller => 'manage_account', :action => 'payaccounts'}, :id => 'refpayform') do %>
           
            <div class="mtitle marT40">
            	<h3><%= I18n.t 'payaccounts.paypal_account_used_for'%> <%= @site[:site_name]%> <%= I18n.t 'payaccounts.referral payouts'%></h3>
            </div>
            <div class="shadow marT10 pad20">
            	
            	<div class="payment_accounts form">
                      <%= text_field_tag :ref_pay_account, @user[:ref_pay_account], :class => 'textbox' %>
	                  <input type="hidden" name="type" value="ref"  />
	                  <%= submit_tag (I18n.t 'button.save'), :class => 'submit_btn', :onclick => ' return validateEmailCommon("refpayform","ref_pay_account","referr")' %>
	                 <div id="referr" ></div>
			    </div>
                <div class="clear"></div>
            </div>             
        
        <% end %>
        </div>
        
		<% @act_class = 'Payment Accounts' %>         	
		<%= render(:partial => "account_sidebar" , :object => :collection) %>    
		   
        <div class="clear"></div>
    </div>    
</section>

