		</div>
    </div>
</header>

<div class="clear"></div>
<div class="min_height">
<div id="dvLoading" ></div> </div>
<div class="min_height" id="mainbg_div" style="display: none;">	 
<section>
	
	<div class="main">
    
    
    <div class="error_div">
    
    <div class="error_img">
    	<img src="<%= APP_CONFIG['development']['app_url'] %>404page-img1.png" />
    </div>
    
    <div class="error_right">
    	<div class="error_main_div">
        	<div class="error_404">404!</div>
            
            <div class="clear"></div>
        </div>
    
    <div>
        <div class="Error_desc pad15">
        	<div class="Error_big"><%= I18n.t 'error_404.error'%></div>
            <div class="Error_small"><%= I18n.t 'error_404.sorry_page_requested_not_found'%></div>
			<div class="clear"></div>
        </div>
    </div>
        
        <div class="marT20">
    		<div class="" style="margin:0 auto; width:156px;"><a href="<%= APP_CONFIG['development']['site_url'] %>" class="btn" style="display:inline-block;"><%= I18n.t 'error_404.go_to_home'%></a></div>
          </div>
    </div>
    
    <div class="clear"></div>
    </div>
    
    </div>
    
</section></div>
